.pagination {
  display: flex;
  justify-content: space-between;
  padding: var(--step-5) 0;
  padding-top: calc(var(--step-5) * 4);
  margin-top: auto;
  span {
    display: flex;
    flex: 1;
    justify-content: center;
    &:first-of-type {
      justify-content: flex-start;
    }
    &:last-of-type {
      justify-content: flex-end;
    }
  }
}
