@use '~/src/styles/mixins' as *;

.codeBlock {
  border: 1px solid var(--divider);
  border-radius: 0.5em 0.5em var(--radius) var(--radius);
  margin-top: var(--step-1);
  pre {
    background-color: var(--code-background);
    line-height: 1;
    overflow-x: auto;
    padding: var(--step--2);
    position: relative;
    code {
      all: unset;
      font-size: var(--step--1);
    }
  }
}

.blockHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--step--2);
  svg {
    color: var(--divider);
  }
  button {
    @include label;
    font-size: var(--step--2);
    cursor: pointer;
  }
}
