<div class="footer-container">
  <footer class="site-footer label">
    <p>
      &copy;{{site.thisYear}}
      {{site.author}}
    </p>
    <a href="#top" class="arrow--up">Top</a>
  </footer>
</div>
