<footer class="site-footer label">
  <div>
    <a class="label" href="/feed/writing.xml">RSS feed</a>
    <scheme-toggle></scheme-toggle>
    <a href="#top" class="arrow--up">Top</a>
  </div>
</footer>
