<header class="site-header">
  {# <a href="#main">Skip to content</a> #}
  <a href="/" class="home-link">
    <span class="sr-only">Home page</span>
    <div class="dot"></div>
  </a>
  <a href="/" class="logo">
    {% include "logo.svg" %}
  </a>
  <button class="menu-button">
    <p class="sr-only">Menu</p>
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>
