<nav>
  <ul>
    {%- for key, section in site.sections %}
      <li>
        <a href="/{{ key }}/" {% if key in page.url %} class="active" {% endif %}>{{ section }}</a>
      </li>
    {%- endfor %}
  </ul>
  <scheme-toggle></scheme-toggle>
</nav>
