<nav aria-labelledby="nav-label" class="main-menu">
  <p class="sr" id="nav-label">Main menu</p>
  <ul>
    {%- for item in collections.all | eleventyNavigation %}
      <li class="label">
        <a href="{{ item.url | url }}" {% if item.url in page.url %} class="active" {% endif %}>{{ item.title }}</a>
      </li>
    {%- endfor %}
  </ul>
</nav>
