<li>
  <article>
    <a href="{{ playlist.external_urls.spotify }}" rel="noopener noreferrer me">
      {% playlist | playlistImage %}
      <p>{{ playlist.tracks.total }} tracks</p>
      <h2>{{ playlist.name }}</h2>
      <p>{{ playlist.description | safe }}</p>
    </a>
  </article>
</li>
