<nav aria-labelledby="social-nav-label">
  <p class="sr" id="social-nav-label">Social media menu</p>
  <ul>
    {%- for key, item in site.social %}
      <li>
        <a href="{{ key }}" target="_blank" rel="noopener noreferrer me">{{ item }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
