{
  "extends": "airbnb-typescript-prettier",
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "ignorePatterns": ["new.ts"],
  "rules": {
    "@typescript-eslint/ban-ts-comment": 0,
    "import/no-cycle": 0,
    "import/prefer-default-export": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "react/jsx-props-no-spreading": 0,
    "react/no-danger": 0,
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 0,
    "react/require-default-props": 0,
    "spaced-comment": 0
  }
}
