{
  "globals": {
    "window": true
  },
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "import/no-cycle": 0
  },
  "parser": "babel-eslint"
}
