{
  "extends": "airbnb-typescript-prettier",
  "rules": {
    "import/no-cycle": 0,
    "import/prefer-default-export": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 0,
    "react/require-default-props": 0
  }
}
