---
layout: default
title: Home
---
<main class="home-container">
  <section class="cover">
    <a href="/"  class="cover__logo">
      {% include logo.svg %}
    </a>
    <h1 class="cover__intro">I'm Alan Shortis&#8212;a web developer, occasional designer and music nerd based in Nottingham.</h1>
    <footer class="cover-footer">
      <div class="cover-footer__item cover-footer__item--left">
        <small>Say Hello: <a class="light-link lower" href="mailto:alan@short.is">alan@short.is</a></small>
      </div>
      <div class="cover-footer__item">
        <small>Follow me:</small>
        <a href="http://codepen.io/alanshortis/">
          <svg class="icon" role="presentation">
            <use xlink:href="#icon-codepen">
          </svg>
        </a>
        <a href="https://github.com/alanshortis">
          <svg class="icon" role="presentation">
            <use xlink:href="#icon-github">
          </svg>
        </a>
        <a href="https://www.instagram.com/ashortis/">
          <svg class="icon" role="presentation">
            <use xlink:href="#icon-instagram">
          </svg>
        </a>
        <a href="https://open.spotify.com/user/overview">
          <svg class="icon" role="presentation">
            <use xlink:href="#icon-spotify">
          </svg>
        </a>
        <a href="https://www.strava.com/athletes/shortis">
          <svg class="icon" role="presentation">
            <use xlink:href="#icon-strava">
          </svg>
        </a>
        <a href="https://twitter.com/alanshortis">
          <svg class="icon" role="presentation">
            <use xlink:href="#icon-twitter">
          </svg>
        </a>
      </div>
    </footer>
  </section>

  <section class="latest">
    <ul>
      {% for post in site.posts %}
        <li class="latest__item" data-category="{{post.categories}}">
          <a class="latest__post" href="{{ post.url | prepend: site.baseurl }}">
            <h2 class="latest__title">{{post.title}}</h2>
            <small class="latest__meta"><time datetime="{{post.date}}">{{post.date | date_to_long_string}}</time> / {{post.categories}}</small>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>
</main>
