@use '../settings/vars' as v;

@mixin arrow-styles() {
  color: var(--accent);
  speak: never;
}

.arrow {
  &--up {
    &::after {
      @include arrow-styles();
      content: '  ↑';
    }
  }
  &--down {
    &::after {
      @include arrow-styles();
      content: '  ↓';
    }
  }
  &--left {
    &::before {
      @include arrow-styles();
      content: '←  ';
    }
  }
  &--right {
    &::after {
      @include arrow-styles();
      content: '  →';
    }
  }
}
