@use '../settings/mixins' as m;

.site-footer {
  @include m.container();
  padding-top: 0;
  div {
    border-top: 1px solid var(--divider);
    display: flex;
    justify-content: space-between;
    padding-top: var(--margin);
  }
  .label {
    margin-bottom: 0;
  }
}
