.as-logo {
  align-items: center;
  color: var(--accent);
  display: flex;
  svg {
    fill: var(--type);
    height: 26px;
    margin-right: var(--spacing);
    width: 40px;
  }
}

.site-header {
  align-items: center;
  display: flex;
  display: flex;
  height: 4rem;
  justify-content: space-between;
  justify-content: space-between;
  padding: 0 calc(var(--spacing) * 2);
  position: sticky;
  top: 0;
}
