@use '../settings/vars' as v;

.site-header {
  background-color: var(--background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--margin);
  position: sticky;
  top: 0;
  height: v.$header-height;
  z-index: 1;
  @supports (backdrop-filter: blur(7px)) {
    backdrop-filter: blur(7px);
    background-color: v.$transparent;
  }
  &__item {
    flex: 1;
    display: flex;
    justify-content: center;
    a {
      display: flex;
    }
    &:first-child > a {
      margin-right: auto;
    }
    &:last-child > scheme-toggle {
      margin-left: auto;
    }
  }
  &__dot {
    background-color: currentColor;
    border-radius: 50%;
    height: 0.5rem;
    width: 0.5rem;
  }
  &__logo {
    fill: currentColor;
    width: 2.5rem;
    height: 1.5rem;
  }
  a {
    color: currentColor;
  }
}
