@use '../settings/vars' as v;
@use '../settings/mixins' as m;

@mixin animated-state() {
  opacity: 1;
  transform: translateY(0);
}

@keyframes slide {
  100% {
    @include animated-state();
  }
}

main {
  @include animated-state();
  animation: slide 500ms ease 250ms 1 forwards;
  margin: 0 auto;
  max-width: v.$container-max;
  opacity: 0;
  padding: var(--margin);
  transform: translateY(1rem);
  width: 100%;
  @include m.mq(reduce-motion) {
    @include animated-state();
    animation: none;
  }
}
