@use '../settings/vars' as v;
@use '../settings/mixins' as m;

@mixin to() {
  opacity: 1;
  transform: translateY(0);
}

@keyframes slide {
  100% {
    @include to();
  }
}

main {
  @include to();
  margin: 0 auto;
  max-width: v.$container-max;
  padding: var(--margin);
  width: 100%;
  @include m.mq(motion) {
    animation: slide 500ms ease 250ms 1 forwards;
    opacity: 0;
    transform: translateY(1rem);
  }
}
