@use '../settings/mixins' as m;

.post {
  column-gap: var(--margin);
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  @include m.mq(medium) {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  &__meta {
    grid-column: 1 / 3;
    margin-bottom: var(--margin);
    @include m.mq(medium) {
      grid-column: 1 / 6;
    }
  }
  &__body {
    grid-column: 1 / 3;
    @include m.mq(medium) {
      grid-column: 6 / 13;
    }
  }
}
