@use '../settings/vars' as v;

.post-list {
  &__post {
    transition: background-color v.$transition__speed v.$transition__timing;
    &:hover {
      background-color: var(--secondary-bg);
    }
    &:not(:last-child) {
      border-bottom: 1px solid var(--divider);
    }
    a {
      display: block;
      padding: calc(var(--margin) / 2);
    }
    .h4 {
      margin-bottom: calc(var(--margin) / 2);
    }
  }
}
