@use '~/src/styles/mixins' as *;

.post {
  background-image: linear-gradient(to top, var(--foreground) 50%, var(--background) 50%);
  background-size: 100% 200%;
  background-position: top;
  border: 1px solid currentColor;
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  gap: var(--step-0);
  margin-bottom: var(--step-0);
  padding: var(--step--2);
  position: relative;
  transition: background-position 0.5s ease;
  &:hover {
    background-position: bottom;
  }
  h3,
  time {
    text-wrap: balance;
    mix-blend-mode: difference;
    filter: invert(1);
    [data-scheme='dark'] & {
      filter: invert(0);
    }
  }
  @include hatching;
}
