@use '~/src/styles/mixins' as *;

.post {
  background-color: var(--background);
  border: 1px solid currentColor;
  border-radius: var(--radius);
  display: block;
  margin-bottom: var(--step-0);
  position: relative;
  time {
    border-top: 1px solid currentColor;
    padding: var(--step--2);
  }
  h3 {
    padding: var(--step--2);
    text-wrap: balance;
  }
  @include hatching;
}
