@use '~/src/styles/mixins' as *;

.menu {
  display: flex;
  justify-content: flex-end;
  li {
    display: flex;
    align-items: center;
    & + li {
      margin-left: var(--step--2);
    }
  }
  a {
    position: relative;
    &[aria-current='page'] {
      @include active-indicator;
    }
  }
}
