.menu {
  display: flex;
  justify-content: flex-end;
  li + li {
    margin-left: 1rem;
  }
  a {
    position: relative;
    &[aria-current='page']::after {
      background-color: var(--foreground);
      border-radius: 50%;
      content: '';
      height: 8px;
      left: calc(50% - 4px);
      position: absolute;
      top: 2em;
      width: 8px;
    }
  }
}
