@use '../settings/vars' as v;

@mixin mq($bp) {
  @if map-has-key(v.$media-queries, $bp) {
    @media #{inspect(map-get(v.$media-queries, $bp))} {
      @content;
    }
  } @else {
    @warn '#{$bp} is not a valid breakpoint.';
  }
}

@mixin post-link() {
  border-radius: v.$radius;
  color: currentColor;
  display: block;
  padding: var(--margin);
  text-decoration: none;
  h2,
  > span {
    display: block;
    margin-bottom: var(--margin);
  }
  p:last-child {
    margin-bottom: 0;
  }
}
