$container-max: 1204px;
$divider-fatness: 0.5rem;

$base-font-size: 100%;
$face: Inter;
$face--mono: Plex;
$family: $face, Helvetica, Arial, sans-serif;
$family--mono: $face--mono, monospace;
$weight: 400;
$weight--bold: 700;

$accent: #dd6969;
$dark: #222222;
$light: #fefefe;
$header--fore: $light;

$media-queries: (
  reduce-motion: (
    prefers-reduced-motion: reduce,
  ),
  motion: (
    prefers-reduced-motion: no-preference,
  ),
  small: (
    min-width: 600px,
  ),
  medium: (
    min-width: 900px,
  ),
);
