@use '~/src/styles/mixins' as *;

.toc {
  position: sticky;
  top: var(--step-1);
  margin-top: var(--step-5);
  a {
    text-decoration: underline;
    font-size: var(--step--1);
    &:hover {
      text-decoration: none;
    }
  }
}

.title {
  @include visually-hidden;
}

.level3 {
  margin-left: var(--step--1);
}
