.fourofour {
  @include gradient-bg();
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  color: $type--light;
  &__code {
    font-size: 4.148em;
  }
  &__logo {
    display: block;
    margin-bottom: $content-margin;
    svg {
      height: 1.5rem;
    }
    path {
      fill: $type--light;
    }
  }
}
