.icon {
  @include transition(transform);
  display: inline-block;
  box-sizing: content-box;
  fill: $type--light;
  width: $icon__height;
  height: $icon__height;
  margin-left: ($content-margin / 2);
  vertical-align: middle;
}
