.latest {
  position: relative;
  width: 100%;
  @include mq(columns) {
    width: 50%;
    left: 50%;
  }
  &__item {
    border-bottom: 1px solid $divider;
    &:last-child {
      border: 0;
    }
  }
  &__post {
    @include transition(color);
    display: block;
    padding: $content-margin;
    text-decoration: none;
    color: $type;
    background-size: cover;
    &:hover {
      color: $highlight;
    }
  }
  &__title {
    @include text-overflow();
  }
  &__meta {
    @include text-overflow();
    display: block;
    color: $highlight;
  }
}
