.latest {
  position: relative;
  width: 100%;
  @include mq(columns) {
    width: 50%;
    left: 50%;
  }
  ul {
    margin: 0;
  }
  &__item {
    margin: 0;
    list-style: none;
    &:not(:last-child) {
      border-bottom: 1px solid $divider;
    }
  }
  &__post {
    display: block;
    padding: $content-margin;
    text-decoration: none;
    color: $type;
    background-size: cover;
    &:hover {
      color: $highlight;
    }
  }
  &__title {
    @include text-overflow();
    font-weight: 300;
    line-height: 1.5;
  }
  &__meta {
    @include text-overflow();
    display: block;
    color: $highlight;
  }
}
