.playlist {
  &__fixed {
    box-sizing: content-box;
    width: 1em;
  }
  &__fluid {
    width: auto;
  }
  &__link {
    color: currentColor;
    display: block;
  }
  border: 0;
  th,
  tr,
  td {
    border: 0;
    background: none;
  }
  th {
    text-transform: uppercase;
    font-weight: 500;
  }
  tbody tr {
    border-top: 1px solid $divider;
    &:hover {
      @include transition(color);
      color: $highlight;
    }
  }
  th,
  td {
    vertical-align: middle;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}
