.playlist {
  border: 0;
  tr {
    background: $background--main;
    border: 0;
    border-bottom: 1px solid $divider;
  }
  th {
    background: $background--main;
    text-transform: uppercase;
  }
  td {
    border: 0;
  }
  &__meta {
    max-width: 10vw;
    > span {
      @include text-overflow();
      display: block;
    }
  }
  &__icon {
    padding: 0;
    width: 1.1rem;
  }
  &__cover {
    display: none;
    box-sizing: content-box;
    padding: 0;
    padding-right: ($content-margin / 2);
    width: $cover-dimensions;
    height: $cover-dimensions;
    @include mq(small) {
      display: table-cell;
    }
  }
  &__cover-image {
    width: $cover-dimensions;
    height: $cover-dimensions;
  }
}
