.post-header {
  @include gradient-bg();
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: $post-header-height;
  z-index: z(post-header);
  a {
    height: 1.5rem;
  }
  svg {
    height: 1.5rem;
  }
  path {
    fill: $type--light;
  }
}

.post-container {
  @include content-column();
  &__meta {
    display: block;
    margin-bottom: $base-font-size;
  }
}

.post-footer {
  @include gradient-bg();
  display: flex;
  flex-direction: column;
  color: $type--light;
  width: 100%;
  height: $post-footer-height;
  padding: $content-margin;
  margin-top: auto;
  @include mq(columns) {
    padding: ($content-margin * 2);
  }
}
