.post {
  padding: $content-margin;
  &__body {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    margin: 0 auto;
    @include mq(columns) {
      max-width: 75%;
    }
.post-header {
  @include gradient-bg();
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: $post-header-height;
  z-index: z(post-header);
  a {
    height: 1.5rem;
  }
  svg {
    height: 1.5rem;
  }
  path {
    fill: $type--light;
  }
}
