.code {
  display: block;
  background-color: color(code__background);
  color: color(code__syntax);
  font-family: 'Fira Mono', monospace;
  line-height: 1.5;
  overflow-x: auto;
  white-space: pre;
  &::first-line {
    line-height: 0;
  }
}

code:not(.code) {
  background: color(code__background--inline);
  color: color(code__syntax--inline);
}

.token {
  &.comment {
    color: color(code__comment);
    font-style: italic;
  }
  &.punctuation {
    color: color(code__syntax);
  }
  &.property,
  &.tag,
  &.boolean,
  &.number,
  &.constant,
  &.symbol,
  &.deleted {
    color: color(code__syntax--property);
  }
  &.selector,
  &.attr-name,
  &.string,
  &.char,
  &.builtin,
  &.inserted {
    color: color(code__syntax--selector);
  }
  &.operator,
  &.entity,
  &.url {
    color: color(code__syntax--operator);
  }
  &.string {
    color: color(code__syntax--string);
  }
  &.atrule,
  &.attr-value,
  &.keyword {
    color: color(code__syntax--atrule);
  }
  &.function {
    color: color(code__syntax--function);
  }
  &.regex,
  &.important,
  &.variable {
    color: color(code__syntax--variable);
  }

}
