.code {
  display: block;
  background-color: $code__background;
  color: $code__syntax;
  font-family: $font__mono;
  line-height: 1.5;
  overflow-x: auto;
  white-space: pre;
  &::first-line {
    line-height: 0;
  }
}

code:not(.code) {
  background: $code__background--inline;
  color: $code__syntax--inline;
}

.token {
  &.comment {
    color: $code__comment;
    font-style: italic;
  }
  &.punctuation {
    color: $code__syntax;
  }
  &.property,
  &.tag,
  &.boolean,
  &.number,
  &.constant,
  &.symbol,
  &.deleted {
    color: $code__syntax--property;
  }
  &.selector,
  &.attr-name,
  &.string,
  &.char,
  &.builtin,
  &.inserted {
    color: $code__syntax--selector;
  }
  &.operator,
  &.entity,
  &.url {
    color: $code__syntax--operator;
  }
  &.string {
    color: $code__syntax--string;
  }
  &.atrule,
  &.attr-value,
  &.keyword {
    color: $code__syntax--atrule;
  }
  &.function {
    color: $code__syntax--function;
  }
  &.regex,
  &.important,
  &.variable {
    color: $code__syntax--variable;
  }

}
