.related {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: auto;
  padding: 0;
  @include mq(related) {
    @include content-column();
    flex-wrap: nowrap;
    transform: translateY(50%);
  }
  &__item {
    color: $type;
    text-align: center;
    padding: $content-margin;
    background: $background--main;
    width: 100%;
    @include mq(related) {
      width: 33%;
      border: 1px solid $divider;
      &:nth-child(2) {
        margin: 0 $content-margin;
      }
    }
    &:not(:last-child) {
      border-bottom: 1px solid $divider;
    }
    &:hover {
      color: $highlight;
    }
  }
  &__title {
    @include text-overflow();
    display: block;
    font-weight: 300;
  }
  &__meta {
    color: $highlight;
  }
}
