@use '~/src/styles/mixins' as *;

.list {
  grid-column: 1 / -1;
  display: grid;
  margin-top: var(--step-5);
}

.linkList {
  display: flex;
  gap: var(--step-1);
  overflow-x: auto;
  overflow-y: hidden;
  overscroll-behavior: contain;
  position: relative;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  white-space: nowrap;
  padding-bottom: var(--step--2);
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
}

.shadow {
  background-image: linear-gradient(to right, transparent, var(--background));
  height: calc(100% + var(--step--2));
  padding: 4rem;
  pointer-events: none;
  position: sticky;
  right: 0;
  z-index: 1;
}

.link {
  background-color: var(--background);
  border: 1px solid var(--divider);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  gap: var(--step--1);
  height: 100%;
  width: 20rem;
  max-width: 20rem;
  white-space: initial;
  padding: var(--step--2);
  scroll-snap-align: start;
  transition: border-color 250ms;
  @include depth;
  @include post-link-title;
  &:hover {
    border-color: currentColor;
  }
}

.type {
  @include label;
}

.author {
  font-size: var(--step--1);
  margin-top: auto;
  i {
    font-style: italic;
  }
}

.sectionHeader {
  margin-bottom: var(--step-0);
  h2 {
    font-size: var(--step-2);
  }
}
