@mixin bg($filename) {
  background: url($filename) no-repeat center center, currentColor;
  background-clip: text;
  background-size: contain;
}

.A {
  @include bg('/0267.jpg');
  grid-column: 1 / -1;
  color: transparent;
  font-size: 60vw;
  font-size: clamp(10rem, 80vw, 50rem);
  font-weight: bold;
  line-height: 1em;
  text-align: center;
  -webkit-text-stroke: 2px var(--divider);
}

.pier {
  @include bg('/0250.jpg');
}

.lift {
  @include bg('/0267.jpg');
}

.bar {
  @include bg('/0255.jpg');
}

.planes {
  @include bg('/0042.jpg');
}

.station {
  @include bg('/0274.jpg');
}
