<div class="nyc">
  <div class="nyc__elem"></div>
  <div class="nyc__elem"></div>
  <div class="nyc__elem"></div>
  <div class="nyc__elem"></div>
</div>

<style lang="scss">
  .nyc {
    aspect-ratio: 1 / 1;
    border-block-end: 1px solid var(--foreground);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 10%;
    width: var(--step-5);
    &__elem {
      border: 1px solid var(--foreground);
      border-block-end-color: var(--background);
      height: 75%;
      transform: translateY(1px);
      width: 15%;
      &:nth-child(2) {
        height: 40%;
      }
      &:nth-child(3) {
        height: 100%;
      }
      &:nth-child(4) {
        height: 90%;
      }
    }
  }
</style>
