<div class="z">
  <div class="z__elem"></div>
  <div class="z__elem"></div>
  <div class="z__elem"></div>
</div>

<style lang="scss">
  .z {
    aspect-ratio: 1 / 1;
    display: grid;
    overflow: hidden;
    width: var(--step-5);
    isolation: isolate;
    &__elem {
      aspect-ratio: 1 / 1;
      background-color: var(--background);
      border: 1px solid var(--foreground);
      grid-area: 1 / 1;
      place-self: center;
      width: 50%;
      z-index: 2;
      &:nth-child(1) {
        transform: translate(-50%, -50%);
        z-index: 1;
      }
      &:nth-child(3) {
        transform: translate(50%, 50%);
        z-index: 3;
      }
    }
  }
</style>
