.masonry {
  columns: 4 15rem;
  column-gap: 2rem;
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  div {
    background: var(--foreground);
    color: var(--background);
    display: inline-block;
    margin-bottom: 2rem;
    opacity: 0.25;
    width: 100%;
    max-width: 500px;
    vertical-align: bottom;
  }
}

// 375
// 750
// 1500
// 3000
