<footer class="footer-links">
  <div class="footer-links__item footer-links__item--left">
    <small>Say Hello: <a class="light-link lower" href="mailto:alan@short.is">alan@short.is</a></small>
  </div>
  <div class="footer-links__item">
    <small>Follow me:</small>
    <a href="http://codepen.io/alanshortis/" title="CodePen">
      <svg class="icon" role="img" title="CodePen" aria-labelledby="codepen-icon">
        <title id="codepen-icon">CodePen</title>
        <use xlink:href="#icon-codepen">
      </svg>
    </a>
    <a href="https://github.com/alanshortis" title="GitHub">
      <svg class="icon" role="img" title="GitHub" aria-labelledby="github-icon">
        <title id="github-icon">GitHub</title>
        <use xlink:href="#icon-github">
      </svg>
    </a>
    <a href="https://www.instagram.com/ashortis/" title="Instagram">
      <svg class="icon" role="img" title="Instagram" aria-labelledby="instagram-icon">
        <title id="instagram-icon">Instagram</title>
        <use xlink:href="#icon-instagram">
      </svg>
    </a>
    <a href="https://open.spotify.com/user/overview" title="Spotify">
      <svg class="icon" role="img" title="Spotify" aria-labelledby="spotify-icon">
        <title id="spotify-icon">Spotify</title>
        <use xlink:href="#icon-spotify">
      </svg>
    </a>
    <a href="https://www.strava.com/athletes/shortis" title="Strava">
      <svg class="icon" role="img" title="Strava" aria-labelledby="strava-icon">
        <title id="strava-icon">Strava</title>
        <use xlink:href="#icon-strava">
      </svg>
    </a>
    <a href="https://twitter.com/alanshortis" title="Twitter">
      <svg class="icon" role="img" title="Twitter" aria-labelledby="twitter-icon">
        <title id="twitter-icon">Twitter</title>
        <use xlink:href="#icon-twitter">
      </svg>
    </a>
  </div>
</footer>
