<footer class="footer-links">
  <div class="footer-links__item footer-links__item--left">
    <small>Say Hello: <a class="light-link lower" href="mailto:alan@short.is">alan@short.is</a></small>
  </div>
  <div class="footer-links__item">
    <small>Follow me:</small>
    <a href="http://codepen.io/alanshortis/">
      <svg class="icon" role="presentation">
        <use xlink:href="#icon-codepen">
      </svg>
    </a>
    <a href="https://github.com/alanshortis">
      <svg class="icon" role="presentation">
        <use xlink:href="#icon-github">
      </svg>
    </a>
    <a href="https://www.instagram.com/ashortis/">
      <svg class="icon" role="presentation">
        <use xlink:href="#icon-instagram">
      </svg>
    </a>
    <a href="https://open.spotify.com/user/overview">
      <svg class="icon" role="presentation">
        <use xlink:href="#icon-spotify">
      </svg>
    </a>
    <a href="https://www.strava.com/athletes/shortis">
      <svg class="icon" role="presentation">
        <use xlink:href="#icon-strava">
      </svg>
    </a>
    <a href="https://twitter.com/alanshortis">
      <svg class="icon" role="presentation">
        <use xlink:href="#icon-twitter">
      </svg>
    </a>
  </div>
</footer>
