<h3>Full Track List</h3>
<table class="playlist">
  <thead>
    <tr>
      <th class="playlist__fixed">
        <a target="_blank" href="{{page.spotify_url}}">
          <svg class="icon icon--dark icon--individual" role="presentation">
            <use xlink:href="#icon-spotify"></use>
          </svg>
        </a>
      </th>
      <th class="playlist__fluid">Artist</th>
      <th class="playlist__fluid">Title</th>
      <th class="playlist__fixed"></th>
    </tr>
  </thead>
  <tbody>
    {% for item in site.data.[page.playlist_data].tracks.items %}
      <tr>
        <td>
          <a target="_blank" href="{{item.track.external_urls.spotify}}">
            <svg class="icon icon--dark icon--individual" role="presentation">
              <use xlink:href="#icon-play"></use>
            </svg>
          </a>
        </td>
        <td><a class="playlist__link" target="_blank" href="{{item.track.external_urls.spotify}}">{{item.track.artists[0].name}}</a></td>
        <td><a class="playlist__link" target="_blank" href="{{item.track.external_urls.spotify}}">{{item.track.name}}</a></td>
        <td>
          {% if item.track.explicit %}
            <svg class="icon icon--explicit icon--individual" role="presentation">
              <use xlink:href="#icon-explicit"></use>
            </svg>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
