<h3>Full Track List</h3>
<ul class="playlist">
  {% for item in site.data.[page.playlist_data].tracks.items %}
    <li class="playlist__item">
      <a class="playlist__link" target="_blank" href="{{item.track.external_urls.spotify}}">
        <svg class="icon icon--dark icon--individual playlist__icon" role="presentation">
          <use xlink:href="#icon-play"></use>
        </svg>
        {{item.track.artists[0].name}} - {{item.track.name}}
      </a>
      {% if item.track.explicit %}
        <svg class="icon icon--highlight icon--individual playlist__explicit" role="presentation">
          <use xlink:href="#icon-explicit"></use>
        </svg>
      {% endif %}
    </li>
  {% endfor %}
</ul>
