:root {
  --accent: #e34f4f;
  --dark: #1a2320;
  --light: #e5dcdf;
  --mid: #808080;

  --background: var(--light);
  --spacing: 1rem;
  --type: var(--dark);
}

:root body.dark {
  --background: var(--dark);
  --type: var(--light);
}
