:root {
  --light: #e5dcdf;
  --dark: #1a2320;
  --mid: #808080;
  --accent: #e34f4f;

  --background: var(--light);
  --type: var(--dark);

  --spacing: 1rem;
}

:root body.dark {
  --background: var(--dark);
  --type: var(--light);
}
