@use '../settings/mixins' as m;
@use '../settings/vars' as v;

:root {
  --accent: #{v.$accent};
  --background: #{v.$light};
  --type: #{v.$dark};
  --secondary-bg: #{v.$secondary-bg};
  --syntax-comment: #{v.$syntax-comment};
  --divider: #{v.$divider};

  & body.dark {
    --accent: #{v.$accent--dark};
    --background: #{v.$dark};
    --type: #{v.$light};
    --secondary-bg: #{v.$secondary-bg--dark};
    --syntax-comment: #{v.$syntax-comment--dark};
    --divider: #{v.$divider--dark};
  }

  --margin: 1rem;

  @include m.mq(tiny) {
    --margin: 1.5rem;
  }

  @include m.mq(small) {
    --margin: 2rem;
  }
}

*,
*:before,
*:after {
  border: 0;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

html {
  height: 100%;
  @include m.mq(motion) {
    scroll-behavior: smooth;
  }
}

body {
  background-color: var(--background);
  box-sizing: border-box;
  color: var(--type);
  font-family: v.$family;
  font-size: 16px;
  line-height: 1.75;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
