@use '../settings/vars' as v;
@use '../settings/mixins' as m;

:root {
  --background: #{v.$light};
  --type: #{v.$dark};
  --syntax-bg: #{v.$syntax-bg};
  --syntax-comment: #{v.$syntax-comment};
  & body.dark {
    --background: #{v.$dark};
    --type: #{v.$light};
    --syntax-bg: #{v.$syntax-bg--dark};
    --syntax-comment: #{v.$syntax-comment--dark};
  }

  --margin: 1rem;
  @include m.mq(small) {
    --margin: 2rem;
  }
}

*,
*:before,
*:after {
  border: 0;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  @include m.mq(reduce-motion) {
    scroll-behavior: auto;
  }
}

body {
  background-color: var(--background);
  box-sizing: border-box;
  color: var(--type);
  display: grid;
  font-family: v.$family;
  font-size: 14px;
  font-weight: v.$weight;
  grid-template-rows: 3rem auto 3rem;
  line-height: 1.5;
  min-height: 100vh;
  @include m.mq(small) {
    font-size: 16px;
    grid-template-rows: 4rem auto 4rem;
  }
}

hr {
  display: block;
  color: inherit;
  margin: 0 auto;
  margin-bottom: var(--margin);
  border-bottom: v.$divider-fatness solid currentColor;
  width: (v.$divider-fatness * 4);
}

::selection {
  background-color: v.$accent;
  color: v.$light;
}
