@use '../settings/vars' as v;

h1,
h2,
h3,
h4,
.h4 {
  font-weight: v.$weight--bold;
  line-height: 1.25;
}

h1 {
  font-size: 2.488rem;
  &.hero {
    font-size: 4.976rem;
  }
}

h1,
h2 {
  margin-bottom: var(--margin);
}

h2 {
  font-size: 2.074rem;
}

h3 {
  font-size: 1.728rem;
}

h4,
.h4 {
  font-size: 1.44rem;
}

a {
  color: var(--accent);
  text-decoration: none;
  &[href^='http']::after {
    color: var(--accent);
    content: '↗';
    display: inline-block;
    font-family: v.$family--mono;
    font-size: 0.833rem;
    margin: 0 0.25em;
    text-decoration: none;
  }
}

p {
  &.large {
    font-size: 1.2rem;
  }
}

strong {
  font-weight: v.$weight--bold;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.label {
  font-family: v.$family--mono;
  font-size: 0.833rem;
  line-height: 1;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.accent {
  color: var(--accent);
}
