@use 'sass-variables' as *;

a {
  color: var(--type);
  text-decoration: none;
}

.sr {
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.label {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: $face--mono;
  font-size: 0.833rem;
}
