{% macro postDate(date, updated) %}
  <p>
    <time datetime="{{date}}">{{ date | dateFormat }}</time>
    {%- if (updated | dateDiff < 30) %}
      <span>Updated</span>
    {%- elif (date | dateDiff < 30) %}
      <span>New</span>
    {%- endif %}
  </p>
{% endmacro %}
