{% macro postDate(date) %}
  <p>
    <time datetime="{{ date }}" class="js-date-label">{{ date | formatDate }}</time>
    {# TODO: Update diff time #}
    {% if (date | dateDiff < 300) %}
      <span>New</span>
    {% endif %}
  </p>
{% endmacro %}
