{% macro postDate(date, updated) %}
  <p class="label post-date">
    <time datetime="{{ date }}">{{ date | formatDate }}</time>
    {# TODO: Update diff time #}
    {%- if (updated | dateDiff < 300) %}
      <span class="accent">Updated</span>
    {%- elif (date | dateDiff < 300) %}
      <span class="accent">New</span>
    {%- endif %}
  </p>
{% endmacro %}
