@use '~/src/styles/mixins.scss' as *;

.main {
  @include slide-in;
  @include medium {
    margin: calc(var(--step-5) * 4) auto;
  }
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: calc(var(--step-5) * 2) auto;
  max-width: 80rem;
  padding: 0 var(--spacer);
  width: 100%;
}

.masonry {
  columns: 4 15rem;
  column-gap: 2rem;
  div {
    background: var(--foreground);
    color: var(--background);
    display: inline-block;
    margin-bottom: 2rem;
    opacity: 0.25;
    width: 100%;
    max-width: 500px;
    vertical-align: bottom;
  }
}
