@use '../settings/mixins' as m;
@use '../settings/vars' as v;

.home-page {
  position: relative;
  display: flex;
  flex-direction: column;
  @include m.mq(medium) {
    flex-direction: row;
  }
  &__section {
    &--cover {
      padding: var(--margin);
      min-width: 100vw;
      height: 50vh;
      @include m.mq(medium) {
        max-height: calc(100vh - #{v.$header-height});
        min-width: 50vw;
        position: sticky;
        top: v.$header-height;
      }
    }
  }
}
