@use '../settings/mixins' as m;
@use '../settings/vars' as v;

.home-page {
  position: relative;
  display: flex;
  flex-direction: column;
  @include m.mq(medium) {
    flex-direction: row;
  }
  &__title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: var(--margin);
    margin-bottom: 0;
    text-align: right;
    z-index: 1;
    .label {
      white-space: nowrap;
      display: inline-block;
    }
  }
  &__cover {
    --angle: 45deg;
    body.dark & {
      --angle: 45deg;
    }
    background-image: linear-gradient(
      var(--angle),
      var(--orb),
      var(--background),
      var(--background)
    );

    position: relative;
    display: grid;
    place-content: center;
    padding: var(--margin);
    min-width: 100vw;
    min-height: 50vh;
    @include m.mq(medium) {
      border-right: 1px solid var(--divider);
      height: calc(100vh - #{v.$header-height});
      min-width: 50vw;
      position: sticky;
      top: v.$header-height;
    }
  }
}
