@font-face {
  font-family: 'Sohne';
  src: url(/fonts/soehne-buch.woff2) format('woff2');
  font-display: swap;
  font-weight: normal;
}

@font-face {
  font-family: 'Sohne';
  src: url(/fonts/soehne-halbfett.woff2) format('woff2');
  font-display: swap;
  font-weight: bold;
}

@font-face {
  font-family: 'Sohne';
  src: url(/fonts/soehne-mono-buch.woff2) format('woff2');
  unicode-range: U+2190, U+2192, U+2197;
  //             L       R       NE
}

@font-face {
  font-family: 'Epicene';
  src: url(/fonts/epicene-display-regular-italic.woff2) format('woff2');
  font-display: swap;
  font-weight: normal;
  font-style: italic;
}
