@font-face {
  font-family: 'Sohne';
  src: url(/fonts/soehne-buch-subset.woff2) format('woff2');
  font-display: swap;
  font-weight: normal;
}

@font-face {
  font-family: 'Sohne';
  src: url(/fonts/soehne-halbfett-subset.woff2) format('woff2');
  font-display: swap;
  font-weight: bold;
}

@font-face {
  font-family: 'Epicene';
  src: url(/fonts/test-epicene-display-regular-italic.woff2) format('woff2');
  font-display: swap;
  font-weight: normal;
  font-style: italic;
}

/*
- Font families
- Move some values to SCSS vars?
- Arrows from mono font, unicode range
- Buy Epicene, subset
- OG images and icons
- Change avatar everywhere
- Home page ideas
*/
