@font-face {
  font-family: 'Sohne';
  src: url(/fonts/sohne-buch.woff2) format('woff2');
  font-display: swap;
  font-weight: normal;
}

@font-face {
  font-family: 'Sohne';
  src: url(/fonts/sohne-halbfett.woff2) format('woff2');
  font-display: swap;
  font-weight: bold;
}

@font-face {
  font-family: 'Epicene';
  src: url(/fonts/epicene-display-regular-italic.woff2) format('woff2');
  font-display: swap;
  font-weight: normal;
  font-style: italic;
}
