@mixin should-animate {
  @media (prefers-reduced-motion: no-preference) {
    @content;
  }
}

@mixin medium {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin active-indicator {
  &::after {
    background-color: currentColor;
    border-radius: 50%;
    content: '';
    height: 0.34em;
    left: calc(50% - 0.17em);
    position: absolute;
    top: 2em;
    width: 0.34em;
  }
}

@mixin bar {
  backdrop-filter: blur(10px);
  background-color: var(--overlay);
  display: flex;
  gap: var(--spacer);
  justify-content: space-between;
  padding: var(--spacer);
  @include medium {
    border-radius: var(--radius);
  }
}

@mixin link-arrow {
  &[href^='http']:not([href*='short.is'])::after {
    content: '→';
    display: inline-block;
    font-size: var(--step--1);
    margin-left: 0.25rem;
    position: relative;
    left: -2px;
    text-decoration: none;
    transform: rotate(-45deg);
    @supports (content: 'x' / 'y') {
      content: '→' / 'Link opens in a new tab';
    }
  }
}
