@use './mixins' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

h1,
h2 {
  text-wrap: balance;
  font-size: inherit;
  font-weight: inherit;
}

a:not([class]) {
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  &:focus-visible {
    @include focus-outline;
  }
}

a {
  text-decoration: none;
  color: inherit;
  &:focus-visible {
    @include focus-outline;
  }
  &:visited,
  &:active {
    color: inherit;
  }
}
