*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3 {
  text-wrap: balance;
  font-size: inherit;
  font-weight: inherit;
}

a:not([class]) {
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
  &:visited {
    color: inherit;
  }
}
