:root {
  color-scheme: light dark;

  &[data-scheme='light'] {
    color-scheme: light;
  }

  &[data-scheme='dark'] {
    color-scheme: dark;
  }

  --step--2: clamp(0.6076rem, 0.5686rem + 0.1954vw, 0.72rem);
  --step--1: clamp(0.7292rem, 0.6697rem + 0.2971vw, 0.9rem);
  --step-0: clamp(0.875rem, 0.788rem + 0.4348vw, 1.125rem);
  --step-1: clamp(1.05rem, 0.9261rem + 0.6196vw, 1.4063rem);
  --step-2: clamp(1.26rem, 1.0868rem + 0.8658vw, 1.7578rem);
  --step-3: clamp(1.512rem, 1.2736rem + 1.1918vw, 2.1973rem);
  --step-4: clamp(1.8144rem, 1.4902rem + 1.6212vw, 2.7466rem);
  --step-5: clamp(2.1773rem, 1.7404rem + 2.1843vw, 3.4332rem);

  --font-family: 'Safiro', 'Helvetica Neue', Helvetica, sans-serif;

  --radius: 3px;

  --light: hsl(27, 30%, 95%);
  --dark: hsl(27, 30%, 5%);

  --code: light-dark(hsl(27, 30%, 40%), hsl(27, 30%, 50%));
  --code-background: hsla(27, 30%, 54%, 0.025);
  --code-border: hsla(27, 30%, 54%, 0.125);

  --divider: light-dark(hsl(27, 30%, 25%), hsl(27, 30%, 75%));
  --background: light-dark(var(--light), var(--dark));
  --foreground: light-dark(var(--dark), var(--light));

  // Safari versions that don't support this are a bit too recent to risk it
  @supports not (color: light-dark(var(--light), var(--dark))) {
    --background: var(--dark);
    --foreground: var(--light);
    --code: hsl(27, 30%, 50%);
    --divider: hsl(27, 30%, 75%);

    &[data-scheme='light'] {
      --background: var(--light);
      --foreground: var(--dark);
      --code: hsl(27, 30%, 40%);
      --divider: hsl(27, 30%, 25%);
    }
  }
}
