{%- set pageTitle = title + ' — ' + site.title if title else site.title %}
<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="UTF-8">
    <title>{{ pageTitle }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="{{ intro | default(site.description) }}"/>
    <meta property="og:title" content="{{ pageTitle }}"/>
    <meta property="og:description" content="{{ intro | default(site.description) }}"/>
    <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
    {# <meta property="og:image" content="/og.png"/> #}
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:creator" content="{{ site.twitter }}"/>
    {# <meta name="theme-color" content="#ffffff"> #}
    {# <link rel="manifest" href="/manifest.json"> #}
    {# <link rel="apple-touch-icon" href="/img/apple-touch-icon-152x152.png"/> #}
    {# <link rel="icon" type="image/png" href="/img/icon-196x196.png" sizes="196x196"/> #}

    <link rel="stylesheet" href="/style.css?v={{ site.version }}">
  </head>
  <body>
    {%- include 'sprite.svg' %}
    <header class="site-header" id="top">
      <div class="site-header__item">
        <a href="/" class="site-header__link">
          <span class="sr-only">Home page</span>
          <div class="site-header__dot"></div>
        </a>
      </div>
      <div class="site-header__item">
        <svg class="site-header__logo">
          <use xlink:href="#logo"></use>
        </svg>
      </div>
      <div class="site-header__item">
        <scheme-toggle></scheme-toggle>
      </div>
    </header>
    {% block content %}
    {% endblock content %}
    <script src="/app.js?v={{ site.version }}"></script>
  </body>
</html>
