{% extends 'layouts/main.njk' %}
{% from "macros/post-date.njk" import postDate %}

{% block content %}
  {% set previousPost = collections.writing | getPreviousCollectionItem(page) %}
  {% set nextPost = collections.writing | getNextCollectionItem(page) %}

  <main>
    <article class="post">
      <div class="post__meta">
        {{ postDate(date, updated) }}
        <h1>{{ title }}</h1>
      </div>
      <div class="post__body post-formatting">
        <p class="large">{{ intro }}</p>
        {{ content | safe }}
      </div>
    </article>

    {%- include 'nextprev.njk' %}
  </main>
  <footer class="site-footer">
    <div>
      <a href="/" class="label">Post index</a>
      <a href="#top" class="label arrow--up">Back to top</a>
    </div>
  </footer>
{% endblock %}
