{% from "macros/postdate.njk" import postDate %}
{% extends 'layouts/main.njk' %}

{% block content %}
  {% set previousPost = collections.writing | getPreviousCollectionItem(page) %}
  {% set nextPost = collections.writing | getNextCollectionItem(page) %}

  <article class="post-content">
    <div class="post-content__meta">
      {{ postDate(date, updated) }}
      <h1>{{ title }}</h1>
    </div>
    <div class="post-content__body post-formatting">
      <p class="large">{{ intro }}</p>
      {{ content | safe }}
      <hr>
      <p>If you have found this ariticle helpful, please consider <a href="https://buymeacoff.ee/alanshortis" target="_blank">buying me a Coffee</a>.</p>
    </div>
    {%- include 'nextprev.njk' %}
  </article>
{% endblock %}
