{% from "macros/postdate.njk" import postDate %}
{% extends 'layouts/main.njk' %}

{% block content %}
  {%- if date | dateDiff > 731 %}
    <mark>This post is more than two years old. Dependencies, approaches, and best practices may be outdated and links may be broken.</mark>
  {%- endif %}
  {{ postDate(date) }}
  <h1>{{ title }}</h1>
  <p>{{ intro }}</p>
  {{ content | safe }}
{% endblock %}
