{% from "macros/postdate.njk" import postDate %}
{% extends 'layouts/main.njk' %}

{% block content %}
  {{ postDate(date, updated) }}
  <h1>{{ title }}</h1>
  <p>{{ intro }}</p>
  {{ content | safe }}
  {%- include "nextprev.njk" %}
{% endblock %}
