---
import Base from '../layouts/base.astro';
import { DigitalClock, DecimalProgress, AnalogClock } from '../components/clocks';
---

<Base pageTitle="Alan Shortis | Decimal time" description="">
  <article class="post" aria-labelledby="decimal-time">
    <h1 id="decimal-time" class="vh">Decimal time</h1>
    <div class="post__content formatting">
      <noscript>
        <aside>This page uses JavaScript to render clocks, but you have JavaScript disabled.</aside>
      </noscript>
      <p>The clock in the header isn't wrong, it's different.</p>
      <dl class="post__clocks">
        <div>
          <dt>Time</dt>
          <dd><DigitalClock isLarge /></dd>
        </div>
        <div>
          <dt>Decimal time</dt>
          <dd><DigitalClock isLarge isDecimal /></dd>
        </div>
      </dl>

      <p>
        Decimal time (or metric time) emerged during the French Revolution and the broader push toward
        decimalisation of measurement systems. Each day is divided into 10 hours, each hour into 100 minutes,
        and each minute into 100 seconds.
      </p>
      <p>
        By using a base-10 structure you can reduce the time to one number and make calculations and
        conversions simpler. Where regular time considers the middle of the day to be 12 o'clock, in decimal
        time it is 5, or 50% of the day elapsed. This makes it possible to represent time as progression in a
        more familar format.
      </p>
      <DecimalProgress />
      <p>
        You may notice that each decimal clock on this page suffers from occasional skipped seconds or
        rounding issues. At 60<abbr title="Frames per Second">fps</abbr> you can't evenly divide a decimal second
        (864ms) into whole frames so you're never consistently inside one increment. At some point you miss the
        tick. The conventional clock never misses, since seconds are seconds and frames are frames on the same
        grid.
      </p>
      <p>
        Where framerate is measured on a grid, analogue timepieces have a set scale. It's not possible to run
        both at the same time on the same clock, like two sides of a tape measure comparing inches and
        centimetres.
      </p>
      <p>
        In the 1950s, Rolex and Pan Am collaborated on the GMT watch. An additional hand allowed for both GMT
        and another timezone to be read from one watch. Because of the different hand velocity and scale, we
        can't do this for a hybrid watch, but other brands have produced their own GMT watches with one
        timezone confied to its own complication.
      </p>
      <AnalogClock isDecimal />
      <p>
        It's interesting to watch the hand positions diverge throughout the day, only to all align for a
        single decimal second at the end of the day. I don't know enough about watch movements to know if the
        differing frequencies could be built into one watch, but fortuntaly I don't have enough money to
        convince Patek Phillipe to build me one.
      </p>
      <p>
        Time may be a social construct, but it's so deeply ingrained into society and technology that adoption
        of decimal time is entirely impractical. It's an interesting problem, though, especially given the
        difficulty of working with time in code.
      </p>
    </div>
  </article>
</Base>

<style lang="scss">
  @use '../styles/mixins' as *;

  .post {
    display: grid;
    gap: var(--step-5) var(--step-1);
    grid-template-columns: repeat(12, minmax(0, 1fr));
    &__content {
      grid-column: 3 / -3;
      @include medium {
        grid-column: 1 / -1;
      }
    }
    &__clocks {
      display: flex;
      justify-content: space-around;
    }
  }
</style>
