@use '~/src/styles/mixins.scss' as *;

.orb {
  aspect-ratio: 1 / 1;
  background-image: linear-gradient(-225deg, var(--light), var(--background));
  border-radius: 50%;
  box-shadow: inset 0 0 15vh 0 hsl(100, 0%, 7%, 50%), 15vw 15vh 3vh -3vh hsl(100, 0%, 7%, 50%);
  width: 75vw;
  max-width: 25rem;
}

.large {
  font-size: var(--step-2);
  + .large {
    margin-top: var(--spacer);
  }
}
