---
import { getCollection } from 'astro:content';
import Base from '../layouts/base.astro';
import { Circles, PostDate, ReadingList } from '../components';

const collection = await getCollection('posts');
const sortedPosts = collection.sort((a, b) => b.data.pubDate.localeCompare(a.data.pubDate));
---

<Base pageTitle="Alan Shortis">
  <Circles />
  <hgroup class="title">
    <h1 class="title__name">Alan Shortis</h1>
    <p class="title__description">
      My name is <b>Alan Shortis</b> and I am a web engineer
    </p>
  </hgroup>
  <div class="posts">
    {
      sortedPosts.map(post => (
        <article class={`posts__article ${post.data.featured ? 'featured' : ''}`}>
          <a class="posts__item" href={`/writing/${post.slug}`}>
            <PostDate date={post.data.pubDate} />
            <h1 class="posts__title">{post.data.title}</h1>
          </a>
        </article>
      ))
    }
  </div>
  <ReadingList />
</Base>

<style lang="scss">
  @use '../styles/mixins' as *;

  .title {
    margin-bottom: var(--step-2);
    &__name {
      @include visually-hidden;
    }
    &__description {
      text-wrap: balance;
    }
  }
  .posts {
    display: grid;
    gap: var(--step-2);
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-auto-rows: 1fr;
    &__title {
      font-size: var(--step-1);
      font-weight: bold;
    }
    &__item {
      background-color: var(--background);
      border: 1px solid currentColor;
      border-radius: var(--radius);
      grid-column: 1 / -1;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: var(--step--2);
      padding: var(--step-0);
    }
    &__article {
      @include hatching(currentColor);
    }
  }

  .featured {
    @include medium {
      grid-column: span 2;
    }
  }
</style>
