---
import Base from '../layouts/base.astro';
import { getCollection } from 'astro:content';
const collection = await getCollection('photography').then(c =>
  c.sort((a, b) => Number(b.id) - Number(a.id))
);
---

<Base pageTitle="Alan Shortis | Photography" description="Photographs over the last 20 years">
  <section class="page" aria-labelledby="photography">
    <h1 id="photography" class="vh">Photography</h1>
    <ol>
      {
        collection.map(photoYear => (
          <li class="year">
            <h2 class="year__title">{photoYear.id}</h2>
            <div class="photos">
              <div class="photos__col">
                {photoYear.data.photos
                  .filter((_, i) => i % 2 === 0)
                  .map(photo => (
                    <div class="photos__photo" style={`--ratio: ${photo.ratio}`} />
                  ))}
              </div>
              <div class="photos__col">
                {photoYear.data.photos
                  .filter((_, i) => i % 2 === 1)
                  .map(photo => (
                    <div class="photos__photo" style={`--ratio: ${photo.ratio}`} />
                  ))}
              </div>
            </div>
          </li>
        ))
      }
    </ol>
  </section>
</Base>

<style lang="scss">
  @use '../styles/mixins' as *;

  .page {
    display: flex;
    flex-direction: column;
  }

  .year {
    &__title {
      font-size: var(--step-5);
      font-weight: bold;
    }
  }

  .photos {
    display: flex;
    gap: var(--space);
    @include medium {
      flex-direction: column;
    }
    &__col {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      gap: var(--space);
      &:first-child {
        align-items: end;
      }
    }
    &__photo {
      aspect-ratio: var(--ratio);
      background-color: var(--divider);
      border-radius: var(--radius);
      max-inline-size: 100%;
      inline-size: 60%;
      // 3 / 2 is the widest photo ratio
      // 70% is the widest we want to render an image
      inline-size: calc(sqrt(var(--ratio)) / sqrt(3 / 2) * 70%);
      @include medium {
        inline-size: 100%;
      }
    }
  }
</style>
