---
import Base from '../layouts/base.astro';
import { getCollection } from 'astro:content';

const collection = await getCollection('reading');
---

<Base
  pageTitle="Alan Shortis | Reading"
  description="Things of note I have recently read, watched, or listened to"
>
  <article class="post">
    <h1 class="post__title">Reading</h1>
    <div class="list">
      {
        collection.map((post, idx) => (
          <article>
            <a
              class={`list__item ${idx === 0 ? 'list__item--first' : ''}`}
              href={post.data.url}
              target="_blank"
              rel="noopener noreferrer"
            >
              <h1>{post.data.title}</h1>
              <p class="list__author">{post.data.author}</p>
            </a>
          </article>
        ))
      }
    </div>
  </article>
</Base>

<style lang="scss">
  @use '../styles/mixins' as *;

  .post {
    display: flex;
    flex-direction: column;
    gap: var(--step-5);
    &__title {
      font-size: var(--step-5);
      font-weight: bold;
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    &__item {
      align-items: flex-end;
      border-block-start: 1px solid var(--divider);
      display: flex;
      flex-wrap: wrap;
      gap: var(--space);
      padding-block: 1lh;
      text-wrap: pretty;
      &--first {
        border-block-start: none;
      }
    }
    &__author {
      font-size: var(--step--1);
      margin-inline-start: auto;
    }
  }
</style>
