---
import Base from '../layouts/base.astro';
import { Glow, Cube, Anaglyph, Perspective, Ball, Moire, Shaft } from '../components/sketches';
---

<Base pageTitle="Alan Shortis | Sketches" description="Things with no purpose expcet that they exist">
  <article class="post">
    <h1 class="post__title">Sketches</h1>
    <div class="post__sketch">
      <Anaglyph />
    </div>
    <div class="post__sketch">
      <Ball />
    </div>
    <div class="post__sketch">
      <Perspective />
    </div>
    <div class="post__sketch post__sketch--dark">
      <Cube />
    </div>
    <div class="post__sketch post__sketch--dark">
      <Glow />
    </div>
    <div class="post__sketch post__sketch--dark">
      <Shaft />
    </div>
    <div class="post__sketch">
      <Moire />
    </div>
  </article>
</Base>

<style lang="scss">
  @use '../styles/mixins' as *;

  .post {
    display: flex;
    flex-direction: column;
    &__title {
      font-size: var(--step-5);
      font-weight: bold;
      margin-block-end: var(--step-5);
    }
    &__sketch {
      background-color: var(--background);
      display: flex;
      align-items: center;
      justify-content: center;
      padding-inline: var(--space--large);
      padding-block: calc(var(--space--large) * 2);
      min-height: 100vh;
      @include full-bleed;
      &:not(:last-child) {
        border-block-end: 1px solid var(--divider);
      }
      &--dark {
        color-scheme: dark;
      }
    }
  }
</style>
