---
import Base from '../layouts/base.astro';
---

<Base pageTitle="Alan Shortis | Decimal time" description="">
  <article aria-labelledby="decimal-time">
    <h1 id="decimal-time" class="vh">Decimal time</h1>
  </article>
</Base>
