$background--main: #ffffff;
$type: #4c4e4d;
$type--light: #ffffff;
$highlight: #ff6666;
$highlight--link-hover: rgba($highlight, .75);
$divider: #e1e1e1;
$stripe: #f7f7f7;

$gradient__stop1: #1d4350;
$gradient__stop2: #7d2b25;
$gradient: linear-gradient(135deg, $gradient__stop2, $gradient__stop1, $gradient__stop2);

$code__background: #f7f7f7;
$code__background--inline: #f7f7f7;
$code__syntax: $type;
$code__syntax--inline: $highlight;
$code__comment: #999999;
$code__keyword: #0978b2;
$code__function: #097bbf;
$code__variable: #2e9999;
$code__class: #53806f;
$code__string: $highlight;
