$color-background-stop1: #1D4350;
$color-background-stop2: #7d2b25;
$background-gradient: linear-gradient(135deg, $color-background-stop1, $color-background-stop2);
$color-type: #333333;
$color-link: lighten($color-background-stop2, 30);

$base-font-size: 16px;
$base-line-height: ($base-font-size * 1.5);

$transition-speed: 200ms;
$transition-timing: cubic-bezier(.16, 0, .84, 1);
