$base-font-size: 18px;
$base-line-height: 1.75;
$leading: ($base-font-size * $base-line-height);

$sans: 'geomanist-web';
$font__sans: 'geomanist-web', sans-serif;
$serif: 'calandas-web';
$font__serif: 'calandas-web', serif;
$font__mono: 'Fira Mono', monospace;

$weight--regular: 300;
$weight--bold: 500;

$icon__height: 1.5rem;
