@use '~/src/styles/mixins' as *;

.splitContainer {
  display: flex;
  flex-direction: column;
  padding: var(--spacer);
  @include slide-in;
  @include break {
    flex-direction: row;
  }
  div {
    flex: 1;
  }
}
