@use '~/src/styles/mixins' as *;

.markdown {
  * + :where(p, ol, ul, blockquote, pre, h2, h3) {
    margin-top: var(--step-1);
  }

  h2,
  h3 {
    font-size: var(--step-3);
    font-weight: bold;
    padding-top: var(--step-1);
    margin-bottom: var(--step-1);
  }

  h3 {
    font-size: var(--step-2);
  }

  h2 + h3 {
    padding-top: 0;
  }

  em {
    font-style: italic;
  }

  strong,
  b {
    font-weight: bold;
  }

  a {
    color: var(--accent);
    font-weight: bold;
  }

  code {
    background-color: var(--code-background);
    border-radius: var(--radius);
    color: var(--accent);
    font-size: var(--step--1);
    font-weight: bold;
    padding: calc(var(--step--2) / 4) calc(var(--step--2) / 2);
  }

  pre {
    background-color: var(--code-block-background);
    border: 1px solid var(--divider);
    border-radius: var(--radius);
    margin: var(--step-5) 0;
    overflow-x: auto;
    padding: var(--step--1) var(--step-1);
    position: relative;
    code {
      all: unset;
      color: var(--accent);
      font-size: var(--step--1);
      font-weight: bold;
    }
  }

  ul,
  ol {
    padding-left: var(--step-1);
  }

  li {
    list-style: decimal;
    margin-bottom: calc(var(--step--2) / 2);
  }

  ul {
    li {
      list-style: disc;
    }
  }

  blockquote {
    background-color: var(--code-background);
    border-left: 2px solid var(--accent);
    display: block;
    font-style: italic;
    margin-left: var(--step-1);
    margin-right: var(--step-1);
    padding: var(--step-1);
  }

  img {
    display: block;
    margin: var(--step-5) auto;
    width: 100%;
    max-width: 350px;
  }
}
