.header {
  display: flex;
  padding: var(--spacer);
  align-items: center;
  justify-content: center;
  top: var(--spacer);
  margin: var(--spacer);
  margin-bottom: 0;
  svg {
    display: block;
  }
}
