@use '~/src/styles/mixins' as *;

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: calc(var(--spacer) * 2) var(--spacer);
}

.hidden {
  @include visually-hidden;
}
