@use '../../styles/mixins' as *;

.header {
  align-items: center;
  background-color: var(--background);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: var(--step--2);
  padding: var(--step-2);
  z-index: 1;
  svg {
    display: block;
  }
}
