---
interface Props {
  pubDate: string;
  showAgeWarning: boolean;
}

const { pubDate, showAgeWarning } = Astro.props;

const postAgeYears = Math.ceil(
  (new Date(pubDate).getTime() - new Date().getTime()) / (365 * 24 * 60 * 60 * 1000)
);

const shouldShowWarning = showAgeWarning && postAgeYears <= -2;
---

{
  shouldShowWarning && (
    <aside>
      <p>This post is more than {Math.abs(postAgeYears)} years old</p>
    </aside>
  )
}

<style lang="scss">
  @use '../styles/mixins' as *;

  aside {
    background-color: var(--foreground);
    border-radius: var(--radius);
    color: var(--background);
    font-size: var(--step--1);
    font-weight: bold;
    margin-block-end: var(--step-5);
    padding-block: 0.5em;
    padding-inline: 1em;
    text-wrap: pretty;
    @include hatching(var(--step-5));
    & p::selection {
      color: var(--foreground);
      background-color: var(--background);
    }
  }
</style>
