<svg
  xmlns="http://www.w3.org/2000/svg"
  viewBox="201.903 96.502 360.808 399.413"
  fill="none"
  stroke="currentColor"
  stroke-linecap="round"
  stroke-linejoin="round"
  stroke-width="1"
  stroke-miterlimit="10"
>
  <title>A crude illustration of the camera and lens setup</title>
  <path
    d="M384.536 141.263C384.222 141.146 388.334 139.62 386.404 138.462C385.038 137.642 382.41 138.049 382.669 140.121C382.76 140.845 385.22 141.516 384.536 141.263Z"
  ></path>
  <path
    d="M374.422 141.833C376.42 141.902 377.536 137.496 373.229 138.358C370.755 138.853 371.961 141.748 374.422 141.833Z"
  ></path>
  <path
    d="M384.485 119.892C385.617 120.532 387.366 115.002 383.395 116.987C381.66 117.855 383.199 119.166 384.485 119.892Z"
  ></path>
  <path
    d="M374.889 120.048C378.267 119.095 374.796 115.553 373.021 116.884C369.941 119.194 374.783 120.077 374.889 120.048Z"
  ></path>
  <path
    d="M383.136 133.949C382.517 131.927 383.393 128.845 382.047 127.05C377.598 121.118 374.958 130.408 375.615 133.69C376.178 136.507 383.803 136.128 383.136 133.949Z"
  ></path>
  <path
    d="M512.721 152.622C510.223 152.978 518.349 152.419 518.09 152.247C517.063 151.562 513.858 152.459 512.721 152.622Z"
  ></path>
  <path
    d="M357.874 158.491C356.879 157.753 364.243 160.449 364.243 158.74C364.243 157.957 358.331 158.829 357.874 158.491Z"
  ></path>
  <path d="M530.177 152.341C530.177 153.34 530.693 150.104 530.693 149.323"></path>
  <path
    d="M528.19 152.377C528.91 152.647 529.661 150.236 528.485 149.765C527.06 149.195 526.96 151.916 528.19 152.377Z"
  ></path>
  <path
    d="M525.688 152.157C525.719 152.154 526.855 149.838 525.394 149.838C524.155 149.838 524.638 152.257 525.688 152.157Z"
  ></path>
  <path
    d="M534.372 157.86C534.935 157.86 534.273 158.621 534.078 158.817C533.539 159.356 534.64 155.032 531.723 156.977"
  ></path>
  <path
    d="M531.502 160.509L531.796 160.436L531.944 160.288L532.091 160.141L532.238 159.847L532.312 159.626L532.312 159.258L532.238 158.964L532.017 158.669L531.796 158.449L531.576 158.301L531.281 158.154L531.061 158.081L530.766 158.081L530.545 158.007L530.325 157.933L530.104 157.933L530.03 158.081L529.957 158.301L529.883 158.522L529.883 158.817L529.883 159.037L529.957 159.332L530.177 159.552L530.472 159.773L530.766 159.994L531.061 160.141L531.355 160.362L531.502 160.436"
  ></path>
  <path
    d="M529.368 161.981C529.19 161.623 530.032 158.373 528.19 159.847C526.606 161.114 529.632 162.512 529.368 161.981Z"
  ></path>
  <path d="M540.554 160.877C538.978 160.562 538.199 159.877 538.199 161.907"></path>
  <path d="M539.155 161.539C538.598 161.679 538.087 161.623 537.536 161.466"></path>
  <path
    d="M538.346 164.483C540.5 162.633 538.25 161.797 536.653 162.938C535.337 163.878 538.001 164.779 538.346 164.483Z"
  ></path>
  <path
    d="M538.088 167.316C537.165 167.536 540.132 167.256 539.671 166.102C539.468 165.595 536.925 164.768 536.506 165.292C535.971 165.961 538.921 167.118 538.088 167.316Z"
  ></path>
  <path
    d="M545.779 159.663C548.577 162.472 544.778 155.917 545.926 160.509C546.144 161.381 544.799 161.148 544.454 160.803C543.613 159.962 544.792 158.672 545.779 159.663Z"
  ></path>
  <path
    d="M546.662 163.342C546.351 163.376 550.048 161.716 548.501 161.098C547.44 160.673 545.845 161.626 545.999 162.864C546.069 163.422 546.784 163.329 546.662 163.342Z"
  ></path>
  <path
    d="M548.354 165.844C546.78 166.004 550.656 165.563 550.194 164.409C549.83 163.5 547.948 163.934 547.692 164.704C547.235 166.076 548.932 165.786 548.354 165.844Z"
  ></path>
  <path
    d="M554.793 158.081C554.424 157.54 554.84 155.863 555.345 155.358C557.157 153.547 556.892 161.153 554.793 158.081Z"
  ></path>
  <path
    d="M553.248 157.529C555.719 158.154 553.646 152.362 552.622 155.431C552.338 156.283 552.405 157.315 553.248 157.529Z"
  ></path>
  <path
    d="M550.341 154.916C551.868 154.916 551.134 156.985 550.562 156.756C548.572 155.96 550.249 153.601 551.445 153.003"
  ></path>
  <path d="M548.354 155.652C548.622 154.848 549.237 153.947 549.237 153.076"></path>
  <path d="M548.354 150.28C550.486 149.747 549.366 146.895 547.25 146.895"></path>
  <path d="M549.017 149.103L548.428 149.397"></path>
  <path
    d="M552.475 148.955C552.617 148.672 551.403 149.248 551.151 149.323C550.566 149.499 553.132 145.792 549.09 146.601"
  ></path>
  <path
    d="M553.874 148.219L554.021 148.072L554.168 147.852L554.315 147.557L554.389 147.263L554.389 146.968L554.389 146.674L554.389 146.38L554.241 146.159L554.094 146.012L553.947 145.938L553.726 145.938L553.432 145.938L553.064 146.012L552.843 146.085L552.622 146.159L552.475 146.233L552.402 146.38L552.328 146.527L552.328 146.895L552.328 147.116L552.402 147.41L552.622 147.778L552.843 147.999L553.138 148.219L553.358 148.44L553.506 148.587"
  ></path>
  <path
    d="M555.971 147.336C555.421 146.776 555.458 144.805 554.83 145.276C553.793 146.054 556.386 147.759 555.971 147.336Z"
  ></path>
  <path d="M544.896 144.466C545.951 141.301 545.812 149.644 543.644 143.142"></path>
  <path d="M544.454 142.627C546.326 142.627 547.03 144.643 547.03 141.817"></path>
  <path d="M546.22 141.596C547.014 141.596 548.241 142.473 548.575 143.142"></path>
  <path
    d="M548.281 141.265C548.235 141.523 549.057 141.094 549.164 140.345C549.318 139.264 546.294 139.401 546.294 140.051C546.294 141.095 548.406 140.556 548.281 141.265Z"
  ></path>
  <path
    d="M540.627 139.315C541.531 139.767 538.325 140.324 537.61 139.609C537.412 139.411 539.744 138.203 539.744 137.99C539.744 137.923 536.931 138.563 536.727 138.358C536.36 137.991 540.154 136.666 539.671 136.666"
  ></path>
  <path
    d="M477.88 313.087C478.981 315.288 478.629 303.784 478.629 301.599C478.629 292.887 477.381 284.797 477.381 276.124"
  ></path>
  <path
    d="M474.633 313.587C475.369 316.529 474.876 304.524 474.633 302.098C473.736 293.129 473.884 283.946 473.884 274.875"
  ></path>
  <path
    d="M470.887 314.086C472.152 314.719 471.817 310.917 471.886 310.09C472.851 298.515 471.137 286.957 471.137 275.375"
  ></path>
  <path
    d="M467.89 313.837C467.89 319.615 468.639 305.298 468.639 302.598C468.639 293.28 467.391 283.672 467.391 274.376"
  ></path>
  <path
    d="M463.644 313.087C466.257 318.313 464.804 304.135 464.394 300.849C463.239 291.614 463.894 282.187 463.894 272.877"
  ></path>
  <path
    d="M460.398 315.835C462.286 315.835 461.646 310.743 461.646 309.341C461.646 297.467 460.148 285.446 460.148 273.626"
  ></path>
  <path d="M350.507 315.335C350.507 301.621 349.008 288.341 349.008 274.626"></path>
  <path
    d="M346.261 316.584C347.133 317.02 346.84 304.902 346.511 302.598C345.261 293.848 345.512 284.814 345.512 275.874"
  ></path>
  <path
    d="M341.266 316.584C342.068 316.985 342.515 304.891 342.515 302.598C342.515 293.685 343.014 284.649 343.014 275.874"
  ></path>
  <path d="M339.018 315.585C339.018 302.31 339.767 288.82 339.767 275.375"></path>
  <path d="M337.02 315.585C339.316 304.105 337.52 289.163 337.52 277.373"></path>
  <path d="M335.272 312.588C337.066 301.821 336.021 288.371 336.021 277.373"></path>
  <path
    d="M471.886 373.278C471.886 378.379 471.387 367.156 471.387 365.036C471.387 358.359 469.888 351.675 469.888 344.806"
  ></path>
  <path
    d="M475.133 374.776C475.133 375.251 474.498 367.651 474.134 365.286C473.099 358.561 471.886 351.876 471.886 345.056"
  ></path>
  <path d="M478.13 374.776C478.13 364.619 475.632 354.924 475.632 344.806"></path>
  <path
    d="M481.876 374.526C484.089 373.42 480.847 359.862 480.378 357.044C480.021 354.901 481.021 344.628 479.379 343.807"
  ></path>
  <path d="M479.379 373.527C479.379 371.354 480.575 349.275 477.63 347.803"></path>
  <path d="M484.124 372.528C485.8 367.501 482.954 350.288 481.127 344.806"></path>
  <path d="M485.123 370.281C488.249 367.154 484.624 350.116 484.624 345.056"></path>
  <path d="M339.518 373.028C342.54 366.983 338.269 352.815 338.269 345.805"></path>
  <path d="M335.272 372.778C335.272 364.196 335.272 355.387 335.272 346.804"></path>
  <path d="M333.024 373.028C333.024 363.848 333.274 354.686 333.274 345.555"></path>
  <path d="M330.526 371.28C333.566 365.2 331.276 351.887 331.276 344.806"></path>
  <path d="M337.52 373.278C340.739 366.839 337.02 352.327 337.02 345.056"></path>
  <path
    d="M482.376 433.218C482.046 433.877 482.875 431.866 482.875 430.471C482.875 427.776 482.376 425.135 482.376 422.479C482.376 415.312 481.127 408.15 481.127 401"
  ></path>
  <path
    d="M478.629 435.466C478.629 439.05 479.129 428.31 479.129 424.727C479.129 417.637 479.839 409.836 478.13 402.998"
  ></path>
  <path
    d="M474.883 433.718C474.064 435.356 475.111 427.531 474.883 425.476C474.095 418.378 474.633 410.918 474.633 403.747"
  ></path>
  <path d="M470.138 434.467C473.046 425.743 470.138 411.427 470.138 402.249"></path>
  <path
    d="M465.892 434.217C466.512 434.527 466.142 425.173 466.142 423.478C466.142 416.288 465.892 408.791 465.892 401.749"
  ></path>
  <path d="M460.897 435.216C462.981 424.799 460.897 412.361 460.897 401.749"></path>
  <path d="M458.649 434.467C458.649 424.051 459.149 413.615 459.149 403.248"></path>
  <path d="M455.153 434.467C456.99 427.117 455.403 416.946 455.403 409.242"></path>
  <path d="M455.403 408.243C455.403 406.295 455.153 404.424 455.153 402.499"></path>
  <path d="M450.907 435.216C450.907 427.063 453.881 411.693 450.158 404.247"></path>
  <path
    d="M447.91 434.966C447.083 436.62 447.91 426.837 447.91 424.727C447.91 417.602 447.91 410.325 447.91 403.248"
  ></path>
  <path d="M443.914 434.467C443.914 424.076 442.915 413.807 442.915 403.498"></path>
  <path d="M437.42 436.964C439.861 427.201 437.67 413.87 437.67 403.747"></path>
  <path
    d="M440.417 435.466C441.608 436.061 441.608 433.48 441.666 432.719C442.419 422.926 440.667 413.496 440.667 403.997"
  ></path>
  <path d="M434.673 436.465C438.629 428.554 435.422 412.855 435.422 403.997"></path>
  <path
    d="M432.425 435.466C433.042 436.699 432.675 432.881 432.675 432.469C432.675 429.971 432.675 427.474 432.675 424.976C432.675 418.399 432.675 411.823 432.675 405.246"
  ></path>
  <path d="M427.68 435.716C429.185 434.963 427.93 407.932 427.93 403.997"></path>
  <path
    d="M422.935 436.215C424.021 436.215 423.434 433.292 423.434 432.469C423.434 423.395 423.434 414.32 423.434 405.246"
  ></path>
  <path d="M418.689 434.717C418.689 424.564 418.939 414.315 418.939 404.247"></path>
  <path d="M412.445 437.214C415.814 427.109 409.345 414.797 412.695 404.746"></path>
  <path d="M416.691 435.716C416.691 424.864 416.441 413.855 416.441 402.998"></path>
  <path d="M408.949 435.716C408.949 427.234 406.509 412.815 409.198 404.746"></path>
  <path d="M404.203 436.465C405.509 435.159 405.702 409.055 405.702 404.746"></path>
  <path
    d="M398.209 436.715C398.79 437.005 398.959 427.855 398.959 426.225C398.959 419.101 399.208 411.923 399.208 404.746"
  ></path>
  <path d="M402.705 435.965C405.921 429.533 402.455 412.904 402.455 405.246"></path>
  <path
    d="M393.214 436.465C393.88 436.798 395.712 418.583 395.712 415.486C395.712 412.267 395.462 409.165 395.462 405.995"
  ></path>
  <path d="M389.468 435.965C391.857 426.407 391.965 414.585 391.965 404.746"></path>
  <path
    d="M386.221 435.965C387.715 438.952 386.97 429.315 386.97 425.975C386.97 419.297 387.969 412.545 387.969 405.995"
  ></path>
  <path
    d="M381.975 436.715C382.744 438.253 382.973 427.964 382.725 425.726C381.924 418.521 382.475 411.268 382.475 403.997"
  ></path>
  <path d="M377.73 435.466C380.831 426.16 378.729 414.166 378.729 404.497"></path>
  <path d="M373.983 435.965C373.983 425.334 375.981 414.577 375.981 403.997"></path>
  <path
    d="M370.237 434.467C370.319 434.63 371.486 426.052 371.486 423.977C371.486 417.3 372.735 410.651 372.735 403.997"
  ></path>
  <path
    d="M366.741 434.467C366.42 435.108 366.919 430.368 366.99 429.222C367.113 427.266 367.49 425.445 367.49 423.478C367.49 417.973 366.338 407.05 368.739 402.249"
  ></path>
  <path d="M362.245 434.966C366.99 425.476 360.124 411.236 364.742 401.999"></path>
  <path
    d="M357.999 434.467C357.999 437.88 357.999 427.64 357.999 424.227C357.999 416.786 358.249 409.422 358.249 401.999"
  ></path>
  <path d="M360.746 433.218C364.48 425.752 361.745 411.485 361.745 402.998"></path>
  <path
    d="M355.252 432.469C355.252 434.087 356.251 425.927 356.251 423.728C356.251 416.901 356.251 410.074 356.251 403.248"
  ></path>
  <path d="M351.755 432.719C352.962 432.115 353.254 406.044 353.254 401.749"></path>
  <path d="M349.008 431.47C349.008 423.277 347.638 409.606 350.257 401.749"></path>
  <path
    d="M343.514 431.22C345.085 434.363 345.262 423.324 345.262 421.73C345.262 414.577 346.011 407.403 346.011 400.251"
  ></path>
  <path
    d="M340.766 431.47C340.385 432.233 341.408 429.296 341.516 428.223C341.743 425.946 341.516 423.523 341.516 421.23C341.516 416.131 340.024 405.732 342.265 401.25"
  ></path>
  <path
    d="M336.52 430.471C337.264 432.701 337.769 422.66 337.769 420.731C337.769 413.471 338.019 406.075 338.019 398.752"
  ></path>
  <path d="M334.273 431.22C337.216 422.389 334.772 408.955 334.772 399.502"></path>
  <path
    d="M331.525 429.971C332.142 430.279 332.275 421.734 332.275 419.981C332.275 413.365 332.275 406.566 332.275 400.001"
  ></path>
  <path
    d="M413.046 232.753L412.808 231.802L412.57 230.612L412.095 230.137L411.619 229.661L411.143 229.423L410.668 229.185L410.192 228.947L409.478 228.947L409.003 229.185L408.765 229.661L408.765 230.375L408.765 231.088L408.765 231.802L409.003 232.277L409.003 232.991"
  ></path>
  <path d="M406.862 232.04L406.862 227.758"></path>
  <path d="M406.386 232.277C402.381 234.28 405.854 229.148 403.056 227.282"></path>
  <path d="M401.153 231.802L401.153 227.996"></path>
  <path d="M402.818 232.277L398.775 232.515"></path>
  <path d="M398.537 232.04L398.775 227.758"></path>
  <path d="M396.158 232.515C396.578 230.837 396.396 229.012 396.396 227.282"></path>
  <path d="M398.537 229.899L396.158 229.661"></path>
  <path
    d="M448.391 266.853C452.077 274.226 446.543 267.381 445.828 269.05C444.053 273.191 444.852 268.879 444.852 265.755"
  ></path>
  <path d="M441.068 267.219C441.355 267.219 441.469 275.014 438.627 266.487"></path>
  <path d="M441.312 267.219L439.848 267.463"></path>
  <path d="M433.989 269.66C435.281 272.243 438.937 266.487 434.112 266.487"></path>
  <path d="M430.084 270.637C430.537 271.544 430.816 266.998 430.816 266.121"></path>
  <path
    d="M430.45 271.125C430.921 271.36 430.255 271.651 429.962 271.735C428.123 272.261 430.379 267.428 427.765 266.121"
  ></path>
  <path
    d="M423.616 271.003C425.41 271.003 426.148 266.88 424.348 266.365C421.814 265.641 420.283 271.003 423.616 271.003Z"
  ></path>
  <path d="M417.269 268.562L415.683 268.806"></path>
  <path
    d="M411.533 265.999C411.717 265.632 409.941 271.125 409.458 271.125C408.468 271.125 408.116 266.427 408.116 265.755"
  ></path>
  <path d="M410.19 267.097L408.36 267.586"></path>
  <path d="M404.332 269.904C404.974 270.225 404.454 266.41 404.454 265.755"></path>
  <path d="M404.576 270.271C405.376 271.869 398.124 265.877 404.332 265.877"></path>
  <path d="M398.718 266.121C396.472 269.116 397.094 271.745 395.179 265.999"></path>
  <path d="M397.62 266.853L396.155 267.341"></path>
  <path d="M392.128 269.66C392.559 268.367 392.25 266.634 392.25 265.267"></path>
  <path
    d="M392.433 269.355C392.548 270.678 392.109 271.366 390.663 271.125C386.924 270.502 392.15 266.112 392.433 269.355Z"
  ></path>
  <path d="M384.927 269.66C386.296 269.66 386.296 267.15 385.781 266.121"></path>
  <path d="M386.635 270.515C387.146 270.344 384.247 270.393 383.462 270.393"></path>
  <path d="M379.557 271.125C383.172 271.125 383.083 266.609 379.679 266.609"></path>
  <path d="M381.387 268.928L379.923 269.172"></path>
  <path d="M375.529 270.271C375.529 270.391 376.054 267.206 375.651 265.999"></path>
  <path
    d="M375.773 270.637C376.051 271.192 373.943 271.583 373.943 270.149C373.943 267.611 375.29 268.689 372.356 265.755"
  ></path>
  <path d="M370.159 268.928L368.573 268.806"></path>
  <path d="M364.667 270.149C364.667 268.705 364.83 267.422 364.179 266.121"></path>
  <path
    d="M364.667 270.271C365.468 270.671 364.297 270.881 363.935 270.881C362.504 270.881 363.898 267.984 361.86 265.267"
  ></path>
  <path
    d="M454.851 363.037C454.851 365.94 449.322 354.83 456.593 359.677C458.104 360.685 454.823 366.894 453.482 366.894"
  ></path>
  <path
    d="M450.31 366.521C451.014 365.466 450.243 364.133 449.999 362.912C447.157 348.707 444.27 375.566 450.31 366.521Z"
  ></path>
  <path
    d="M403.34 378.217C404.221 375.571 400.453 368.462 403.837 366.77C405.008 366.184 398.029 367.267 403.215 367.267"
  ></path>
  <path d="M406.201 378.217C403.18 373.684 412.529 367.96 415.906 366.272"></path>
  <path
    d="M399.109 377.719C399.571 377.719 399.592 374.907 399.482 374.359C399.038 372.136 391.687 370.215 390.399 367.641"
  ></path>
  <path
    d="M381.939 366.894C385.349 366.894 391.974 372.223 395.252 373.862C395.504 373.988 396.407 374.215 396.496 374.484C396.699 375.093 395.874 377.004 395.874 377.843"
  ></path>
  <path d="M371.86 366.521C375.831 372.477 390.275 369.363 390.275 378.092"></path>
  <path
    d="M424.243 366.77C426.135 367.716 420.269 368.402 418.644 369.756C414.292 373.383 409.436 372.539 409.436 378.465"
  ></path>
  <path
    d="M434.072 366.147C433.386 368.207 416.917 372.602 414.662 374.857C414.315 375.204 415.377 378.28 414.911 379.212"
  ></path>
  <path
    d="M345.109 361.419C344.92 361.266 349.706 361.387 348.966 357.687C348.557 355.638 344.29 354.53 342.621 355.198C337.243 357.349 346.287 362.379 345.109 361.419Z"
  ></path>
  <path
    d="M435.385 339.052C435.582 339.151 438.087 338.887 438.087 339.052C438.087 340.083 435.053 340.823 435.986 343.155C436.426 344.255 438.321 343.305 438.687 342.755"
  ></path>
  <path
    d="M430.782 343.806C430.767 344.724 432.083 343.782 432.083 342.355C432.083 341.944 430.136 341.771 429.882 340.754C429.64 339.786 430.846 339.862 431.483 339.953C432.326 340.074 430.807 342.255 430.782 343.806Z"
  ></path>
  <path d="M433.884 339.153C433.884 339.253 433.884 339.353 433.884 339.453"></path>
  <path d="M423.177 344.056C424.896 343.196 425.594 338.144 422.177 339.853"></path>
  <path d="M422.777 341.654C422.975 341.06 423.168 339.735 422.877 339.153"></path>
  <path d="M415.572 343.956C421.444 343.956 410.766 339.953 417.774 339.953"></path>
  <path d="M413.271 339.853C413.338 339.953 413.404 340.053 413.471 340.153"></path>
  <path
    d="M410.669 341.354C411.417 341.728 406.453 341.511 409.969 339.753C410.672 339.401 413.114 343.555 409.769 343.555"
  ></path>
  <path
    d="M402.814 343.405C402.332 343.75 404.465 343.755 404.165 342.255C404.063 341.745 402.32 342.01 401.864 341.554C400.794 340.484 402.39 339.744 403.264 339.853C405.707 340.158 401.731 342.218 401.663 342.555C401.442 343.664 403.738 342.746 402.814 343.405Z"
  ></path>
  <path d="M393.658 343.856C393.363 342.673 393.658 340.67 393.658 339.353"></path>
  <path d="M391.157 343.856C392.1 343.856 391.257 340.398 391.257 339.653"></path>
  <path d="M384.152 343.655C384.152 345.09 383.41 340.636 384.052 339.353"></path>
  <path
    d="M381.751 342.154C382.07 342.154 377.801 340.483 380.45 339.953C381.615 339.72 383.559 344.356 380.149 344.356"
  ></path>
  <path d="M375.246 343.155C375.406 343.102 375.497 339.453 374.346 339.453"></path>
  <path
    d="M371.644 343.155C371.901 343.67 369.095 343.849 369.843 342.355C371.243 339.554 372.863 340.483 369.142 339.553"
  ></path>
  <path
    d="M438.487 363.368C439.262 363.368 438.521 363.657 438.187 363.768C434.587 364.969 438.585 360.262 438.287 359.666C438.208 359.509 435.876 359.661 435.485 359.466"
  ></path>
  <path
    d="M434.585 363.468C435.434 362.902 434.248 364.323 433.184 363.969C430.119 362.947 437.329 360.366 431.683 360.366"
  ></path>
  <path d="M426.379 363.969C426.928 364.243 426.279 361.445 426.279 359.766"></path>
  <path d="M424.178 364.769C424.178 363.294 424.485 361.58 423.778 360.166"></path>
  <path d="M418.774 364.869C423.966 363.139 414.333 360.666 421.176 360.666"></path>
  <path d="M417.273 360.566L417.474 360.967"></path>
  <path
    d="M414.171 362.668C414.748 362.956 413.656 362.778 413.571 362.768C411.783 362.544 412.315 360.157 414.171 360.466C416.334 360.827 415.075 364.269 412.971 364.269"
  ></path>
  <path
    d="M406.967 363.568C407.435 363.803 405.171 365.312 404.665 364.469C403.483 362.499 408.166 360.066 404.365 360.066"
  ></path>
  <path d="M402.264 360.066C402.395 360.461 402.364 360.261 402.364 360.666"></path>
  <path
    d="M399.912 364.069C398.286 364.763 400.963 364.07 401.163 363.568C401.816 361.936 398.958 363.05 398.762 362.067C398.464 360.579 399.752 359.599 401.263 360.166C402.042 360.458 401.487 361.107 401.163 361.467C399.983 362.779 400.766 363.704 399.912 364.069Z"
  ></path>
  <path d="M391.057 363.768C397.193 363.768 385.88 359.466 393.158 359.466"></path>
  <path d="M389.455 360.166C389.489 360.266 389.522 360.366 389.556 360.466"></path>
  <path
    d="M386.754 362.267C386.138 364.114 382.719 359.232 386.454 360.166C387.411 360.406 387.769 364.512 385.553 364.069"
  ></path>
  <path d="M381.35 364.069C381.54 364.163 381.35 360.965 381.35 360.266"></path>
  <path d="M378.949 364.169C378.949 362.952 379.208 361.485 378.649 360.366"></path>
  <path d="M372.745 363.368C372.913 363.368 373.566 360.371 371.544 359.966"></path>
  <path
    d="M369.943 363.668C370.281 364.006 368.521 364.681 368.342 363.068C368.001 360.004 371.811 359.566 366.741 359.566"
  ></path>
  <path
    d="M401.448 392.69C401.557 394.836 405.045 392.397 403.282 391.076C402.659 390.608 396.014 393.653 397.56 391.076C398.386 389.699 401.401 391.758 401.448 392.69Z"
  ></path>
  <path
    d="M401.448 386.234C402.595 386.841 404.081 385.418 403.282 384.62C402.996 384.334 402.188 384.055 401.815 384.18C397.995 385.453 396.859 383.803 401.448 386.234Z"
  ></path>
  <path d="M380.541 390.195C379.648 388.41 381.034 394.303 379.367 394.303"></path>
  <path d="M380.687 391.662C380.541 391.76 380.394 391.858 380.247 391.956"></path>
  <path
    d="M376.873 389.755C377.854 391.675 375.602 391.565 375.992 391.956C378.193 394.157 375.533 387.134 376.873 389.755Z"
  ></path>
  <path
    d="M373.792 390.342L373.498 390.782L373.205 390.929L372.911 391.369L372.618 391.516L372.471 391.809L372.765 391.956L373.058 391.956L373.351 391.662L373.645 391.222L373.792 390.929L373.938 390.635L373.938 390.342L373.645 389.755L373.351 389.608L373.058 389.462L372.618 389.315L372.178 389.168"
  ></path>
  <path d="M369.83 392.836C369.83 391.852 370.134 390.215 369.683 389.315"></path>
  <path d="M370.124 391.516L368.95 391.956"></path>
  <path
    d="M380.981 383.593C380.981 387.134 377.46 386.481 377.46 382.859C377.46 381.742 377.223 385.669 376.139 385.94C375.078 386.206 374.819 382.941 374.819 382.272"
  ></path>
  <path d="M350.61 387.848C351.147 386.772 350.365 384.717 349.876 383.74"></path>
  <path d="M348.262 387.114C348.311 387.261 348.36 387.408 348.409 387.554"></path>
  <path d="M348.556 384.913C348.653 384.962 348.751 385.011 348.849 385.06"></path>
  <path d="M346.502 387.701C343.887 387.701 350.459 382.078 345.034 383.886"></path>
  <path d="M348.262 382.566C348.36 382.615 348.458 382.664 348.556 382.712"></path>
  <path d="M414.433 392.983C414.433 391.458 414.958 390.161 413.993 388.875"></path>
  <path d="M410.765 393.863C413.866 393.088 407.16 389.021 410.618 389.021"></path>
  <path d="M411.646 393.57L410.325 394.157"></path>
  <path d="M410.765 386.527C414.331 388.31 408.099 383.153 412.819 383.153"></path>
  <path
    d="M423.97 393.643C424.679 392.192 419.612 391.325 421.476 389.462C426.381 384.556 422.702 396.238 423.97 393.643Z"
  ></path>
  <path d="M429.252 387.408C426.333 388.381 431.047 383.593 426.758 383.593"></path>
  <path
    d="M438.642 394.157C438.642 393.515 440.557 393.299 439.963 391.516C439.773 390.946 432.721 390.946 438.495 389.021"
  ></path>
  <path
    d="M435.414 387.408C435.905 388.39 437.615 387.042 437.615 386.234C437.615 385.873 431.672 383.006 437.762 383.006"
  ></path>
  <path d="M440.99 386.967C441.384 385.389 441.061 384.541 440.55 383.006"></path>
  <path d="M438.642 382.859C438.74 382.957 438.838 383.055 438.936 383.153"></path>
  <path d="M450.233 385.94C450.233 384.136 450.38 382.324 450.38 380.512"></path>
  <path d="M447.739 382.126C447.934 382.126 448.13 382.126 448.326 382.126"></path>
  <path d="M445.685 385.647C446.026 383.939 447.14 380.813 444.511 382.566"></path>
  <path d="M447.152 393.276C448.763 390.054 448.398 389.462 445.685 389.462"></path>
  <path d="M446.272 391.809L447.299 389.902"></path>
  <path d="M461.09 393.13C459.1 393.793 458.186 388.425 459.917 387.848"></path>
  <path d="M455.955 392.69L456.689 391.076"></path>
  <path
    d="M453.754 393.863C453.928 394.211 453.874 394.298 454.048 393.863C455.106 391.219 456.818 388.219 453.021 389.168"
  ></path>
  <path d="M452.434 393.423L452.581 392.249"></path>
  <path d="M451.26 393.276C451.454 392.5 451.407 392.891 451.407 392.103"></path>
  <path d="M456.982 386.381C457.509 386.381 457.276 383.004 457.276 382.272"></path>
  <path
    d="M345.741 194.698C348.419 193.359 355.058 194.698 358.141 194.698C372.106 194.698 386.207 194.515 400.263 194.515C446.289 194.515 492.17 194.515 538.118 194.515"
    stroke-width="2"></path>
  <path
    d="M353.582 193.604C353.582 196.442 352.123 188.054 352.123 185.216C352.123 180.26 354.128 172.449 352.305 167.893C347.446 155.743 352.208 136.911 351.029 123.947C350.697 120.296 350.029 113.095 352.852 110.271C353.323 109.8 362.81 110.528 363.246 111.182C363.9 112.163 364.416 152.865 363.611 153.669C362.78 154.5 354.529 153.122 352.852 153.122"
    stroke-width="2"></path>
  <path d="M362.517 151.664C362.335 151.664 362.152 151.664 361.97 151.664" stroke-width="2"></path>
  <path
    d="M361.423 151.846C360.936 151.846 360.832 151.808 361.605 152.028C365.815 153.231 370.395 152.94 374.734 152.94C377.738 152.94 404.401 152.286 404.457 152.211C404.461 152.205 404.565 112.311 403.728 110.635C403.374 109.928 397.023 111.365 395.887 111.365"
    stroke-width="2"></path>
  <path
    d="M395.157 111.547C394.872 111.547 395.704 124.371 395.704 126.5C395.704 134.193 392.637 145.711 396.251 152.94"
    stroke-width="2"></path>
  <path d="M363.976 113.371C369.754 117.222 387.627 114.465 394.793 114.465" stroke-width="2"></path>
  <path d="M405.186 109.906C443.59 109.906 482.056 111.182 520.43 111.182" stroke-width="2"></path>
  <path d="M520.977 111.365C528.332 111.365 534.651 114.402 540.489 118.294" stroke-width="2"></path>
  <path d="M540.489 116.835L539.395 117.565" stroke-width="2"></path>
  <path d="M538.848 117.747C541.474 119.06 539.03 129.436 539.03 131.97" stroke-width="2"></path>
  <path
    d="M345.066 196.821C343.079 202.782 347.501 200.962 348.08 203.854C349.922 213.063 344.983 220.131 335.822 220.131"
    stroke-width="2"></path>
  <path d="M334.214 220.935C334.147 221.069 334.08 221.203 334.013 221.337" stroke-width="2"></path>
  <path
    d="M471.463 196.821C470.749 196.821 471.061 197.446 471.061 198.027C471.061 203.02 465.876 209.534 470.056 215.108C472.044 217.758 478.765 217.051 481.711 218.524"
    stroke-width="2"></path>
  <path
    d="M335.219 221.337C331.172 224.035 335.345 236.507 334.214 241.03C332.827 246.578 335.702 244.407 337.028 247.058C338.738 250.48 337.43 257.808 337.43 261.728C337.43 273.603 333.411 281.842 333.411 295.085"
    stroke-width="2"></path>
  <path
    d="M333.21 295.688C333.21 302.514 331.641 310.55 333.009 317.391C333.314 318.92 339.618 319.635 336.827 323.821C336.196 324.767 336.414 329.861 335.621 330.653C334.278 331.997 328.493 333.307 327.583 334.672C327.53 334.752 328.916 360.226 329.392 362.604C334.382 387.557 326.247 405.773 329.392 430.927C329.566 432.32 331.632 429.437 332.406 432.535C334.683 441.642 327.602 474.753 333.009 480.16"
    stroke-width="2"></path>
  <path
    d="M481.912 219.729C481.912 221.411 482.909 244.188 482.716 244.446C480.393 247.543 478.613 247.276 477.692 251.881C477.382 253.43 478.325 274.533 478.496 274.789C479.951 276.972 481.51 272.83 481.51 279.009C481.51 288.379 479.197 297.892 481.51 307.142C481.915 308.762 482.847 317.661 481.711 318.797C480.365 320.144 476.508 321.095 477.29 324.223C477.889 326.619 486.169 330.399 486.735 332.663C489.375 343.225 488.692 362.261 486.534 373.054C486.164 374.901 484.296 373.192 483.922 375.063C480.991 389.717 486.132 402.81 486.132 417.463C486.132 419.348 487.297 431.248 485.529 432.133C485.22 432.287 482.165 431.731 481.51 431.731"
    stroke-width="2"></path>
  <path d="M481.912 432.334C482.493 433.496 483.118 436.028 483.118 437.357" stroke-width="2"></path>
  <path d="M481.912 432.334C480.216 433.182 482.113 440.792 482.113 442.582" stroke-width="2"></path>
  <path d="M483.319 451.424C483.319 458.5 485.054 474.68 481.912 480.963" stroke-width="2"></path>
  <path d="M482.716 453.433C481.264 450.53 482.515 442.882 482.515 439.367" stroke-width="2"></path>
  <path
    d="M332.607 480.16C332.281 479.996 335.304 481.681 337.028 481.968C340.791 482.595 344.124 483.684 348.08 484.179C358.602 485.494 369.258 487.128 379.629 489.202C403.191 493.915 461.619 491.612 482.515 481.164"
    stroke-width="2"></path>
  <path
    d="M348.683 202.247C347.26 202.958 350.688 202.046 351.898 202.046C354.739 202.046 357.26 201.911 359.936 201.242C367.543 199.34 376.016 201.563 383.648 200.036C403.812 196.003 427.619 200.036 448.354 200.036C452.474 200.036 467.048 198.435 469.855 201.242"
    stroke-width="2"></path>
  <path
    d="M350.089 207.672C360.644 210.311 374.316 205.864 385.255 205.864C413.35 205.864 441.442 206.668 469.453 206.668"
    stroke-width="2"></path>
  <path
    d="M335.822 221.337C343.849 225.35 357.658 217.624 366.768 218.926C376.088 220.257 388.053 220.376 397.312 218.524C407.45 216.496 420.27 218.725 430.67 218.725C445.612 218.725 460.017 216.715 474.879 216.715"
    stroke-width="2"></path>
  <path
    d="M335.42 245.049C335.356 245.177 348.729 244.237 351.094 243.843C360.487 242.278 373.174 241.486 382.643 242.839C391.505 244.105 400.703 241.73 409.57 242.839C432.964 245.763 459.33 243.843 482.716 243.843"
    stroke-width="2"></path>
  <path
    d="M338.836 256.503C350.955 256.503 365.164 256.261 377.017 253.891C389.14 251.466 406.21 253.784 418.211 255.498C435.021 257.9 452.731 254.494 469.453 254.494"
    stroke-width="2"></path>
  <path d="M471.664 254.494C473.738 254.494 475.687 255.096 477.692 255.096" stroke-width="2"></path>
  <path
    d="M336.425 274.187C335.99 274.404 340.889 274.271 342.051 274.388C345.679 274.75 349.048 274.589 352.702 274.589C363.193 274.589 373.6 275.593 384.251 275.593C415.917 275.593 448.011 273.986 479.3 273.986"
    stroke-width="2"></path>
  <path
    d="M334.214 316.788C339.968 319.664 364.005 316.221 372.194 317.391C408.474 322.574 446.547 316.587 482.716 316.587"
    stroke-width="2"></path>
  <path
    d="M336.626 326.032C348.679 329.045 363.668 324.437 376.213 325.831C410.732 329.666 444.967 325.228 479.3 325.228"
    stroke-width="2"></path>
  <path
    d="M329.392 344.72C328.916 344.72 333.824 344.921 335.42 344.921C339.331 344.921 343.105 345.524 347.075 345.524C358.722 345.524 370.448 346.93 382.04 346.93C417.57 346.93 453.426 345.725 488.543 345.725"
    stroke-width="2"></path>
  <path
    d="M331.602 374.058C330.896 374.058 335.673 374.94 337.028 375.063C340.616 375.389 344.133 375.762 347.678 376.269C359.059 377.895 370.692 379.082 382.241 379.082C401.183 379.082 422.309 382.171 441.119 379.484C455.256 377.464 470.909 376.068 485.127 376.068"
    stroke-width="2"></path>
  <path
    d="M331.602 399.579C331.882 400.42 363.646 402.319 366.969 402.794C406.025 408.374 446.815 402.392 485.931 402.392"
    stroke-width="2"></path>
  <path
    d="M331.602 431.329C331.292 431.329 330.045 431.159 331.401 431.329C336.647 431.985 342.153 432.2 347.276 433.338C358.044 435.731 369.346 437.156 380.433 437.156C406.248 437.156 431.907 438.688 457.597 436.353C464.91 435.688 477.538 437.635 484.122 434.343"
    stroke-width="2"></path>
  <path
    d="M333.009 457.653C341.422 457.653 349.536 462.118 357.926 462.677C386.532 464.584 418.263 467.826 446.746 463.079C457.709 461.252 475.243 463.801 485.127 458.859"
    stroke-width="2"></path>
  <path d="M538.665 131.97C523.424 139.591 519.701 138.919 519.701 158.228" stroke-width="2"></path>
  <path
    d="M519.883 158.593C522.685 164.195 524.828 166.632 529.912 170.446C531.929 171.958 536.476 171.721 537.936 173.91C540.53 177.802 537.206 190.246 537.206 194.88"
    stroke-width="2"></path>
  <path
    d="M539.577 135.252C540.27 136.019 535.671 135.538 533.195 136.529C529.027 138.196 523.983 141.652 523.166 146.558C521.379 157.277 527.637 174 541.765 171.175C555.277 168.472 560.711 159.96 557.994 146.376C556.812 140.467 546.204 136.134 541.218 134.888C540.49 134.706 538.961 134.57 539.577 135.252Z"
    stroke-width="2"></path>
  <path d="M540.124 121.576C543.228 120.024 557.629 137.862 557.629 141.817" stroke-width="2"></path>
  <path d="M538.301 188.316C543.22 188.316 555.298 167.411 556.9 162.605" stroke-width="2"></path>
  <path d="M524.442 109.906C524.442 108.308 524.26 106.754 524.26 105.165" stroke-width="2"></path>
  <path d="M523.895 106.259C515.263 101.943 471.196 99.7759 471.196 111.729" stroke-width="2"></path>
  <path
    d="M345.923 195.245C340.407 198.003 326.843 195.974 320.577 195.974C299.503 195.974 278.44 195.792 257.302 195.792"
    stroke-width="2"></path>
  <path d="M256.755 195.61C252.747 195.61 248.903 195.288 245.085 194.333" stroke-width="2"></path>
  <path
    d="M244.173 194.151C214.986 194.151 203.903 162.975 207.886 139.082C208.924 132.85 215.894 128.114 219.374 123.764C222.435 119.938 230.606 114.465 235.785 114.465"
    stroke-width="2"></path>
  <path
    d="M235.785 113.918C234.391 113.918 237.413 114.431 238.155 114.282C240.448 113.824 242.761 113.471 245.085 113.006C251.654 111.692 258.791 112.094 265.508 112.094"
    stroke-width="2"></path>
  <path d="M268.79 112.459C296.34 112.459 324.012 112.823 351.394 112.823" stroke-width="2"></path>
  <path d="M265.325 112.459C267.615 112.459 269.785 112.459 272.072 112.459" stroke-width="2"></path>
  <path
    d="M224.662 119.206C232.32 111.548 244.129 98.5019 256.755 100.606C259.303 101.031 263.49 105.742 265.872 107.171C270.664 110.046 276.691 110.605 281.919 111.912"
    stroke-width="2"></path>
  <path
    d="M265.872 187.951C268.358 192.923 281.732 180.846 283.378 178.651C296.155 161.615 276.795 143.491 259.49 146.376C233.499 150.707 243.448 188.68 269.702 188.68"
    stroke-width="2"></path>
  <path
    d="M264.596 176.463C265.038 175.59 268.885 176.073 270.066 175.187C272.394 173.441 274.42 170.013 274.99 167.163C276.095 161.635 266.793 157.971 262.772 158.775C248.594 161.611 262.926 179.764 264.596 176.463Z"
    stroke-width="2"></path>
  <path
    d="M265.234 169.716C271.674 170.367 268.518 163.133 263.867 164.063C259.282 164.98 264.468 169.639 265.234 169.716Z"
    stroke-width="2"></path>
  <path d="M280.825 183.575C287.354 190.104 267.607 196.898 266.602 190.869" stroke-width="2"></path>
  <path
    d="M262.772 144.734C262.772 145.947 261.581 141.95 261.314 141.817C258.071 140.196 253.108 143.507 253.108 146.558"
    stroke-width="2"></path>
  <path d="M258.761 143.64C259.297 143.909 258.997 143.78 259.673 144.005" stroke-width="2"></path>
  <path d="M267.878 142.364C268 142.425 268.121 142.485 268.243 142.546" stroke-width="2"></path>
  <path
    d="M484.872 168.257C481.052 168.257 464.183 173.574 471.926 179.381C481.146 186.295 478.968 154.494 489.431 156.587C492.316 157.164 493.22 161.591 489.978 162.24C486.154 163.005 482.739 159.909 479.22 159.322C465.455 157.028 451.944 153.084 438.738 159.687"
    stroke-width="2"></path>
  <path
    d="M474.296 163.152C474.296 163.668 466.868 164.89 468.644 168.44C470.242 171.637 478.601 162.335 472.655 161.146C469.267 160.468 466.48 161.723 465.179 164.975C464.772 165.992 464.86 168.85 464.085 168.075C463.113 167.103 465.644 162.037 463.538 161.51C462.479 161.246 454.691 170.622 453.691 168.622C453.558 168.357 460.849 165.366 459.526 162.057C456.964 155.651 450.896 166.159 450.044 166.799C448.628 167.861 443.687 167.006 444.938 168.257C448.144 171.463 453.551 162.682 451.503 161.146C449.241 159.449 445.121 163.316 445.121 165.522C445.121 166.407 443.506 168.075 444.391 168.075C444.94 168.075 447.353 159.247 441.109 161.328"
    stroke-width="2"></path>
  <path d="M462.991 172.269C462.93 172.391 462.869 172.512 462.808 172.634" stroke-width="2"></path>
  <path
    d="M335.35 178.949C360.607 166.32 342.817 126.505 316.807 130.84C298.443 133.901 283.062 164.522 302.076 177.198"
    stroke-width="2"></path>
  <path d="M302.488 177.61C309.792 184.914 331.017 190.498 337.307 177.919" stroke-width="2"></path>
  <path
    d="M300.118 146.499C299.696 146.71 302.688 144.021 302.797 144.129C303.434 144.767 301.87 147.502 301.87 148.353"
  ></path>
  <path d="M300.324 146.602L301.354 146.602"></path>
  <path d="M298.161 150.825C298.712 151.928 296.871 153.401 299.191 153.401"></path>
  <path
    d="M301.818 151.804C299.523 152.378 300.288 156.737 302.694 155.667C304.263 154.97 303.397 151.41 301.818 151.804Z"
  ></path>
  <path
    d="M304.754 152.886L304.445 152.989L304.136 153.298L303.827 153.813L303.621 154.534L303.518 155.152L303.93 155.667L304.651 155.77L305.372 155.873L305.99 155.873L306.299 155.564L306.505 155.152L306.505 154.534L306.196 153.813L305.887 153.298L305.578 152.886"
  ></path>
  <path
    d="M308.102 153.607C306.043 155.615 308.537 158.304 309.905 156.594C310.918 155.328 309.023 152.709 308.102 153.607Z"
  ></path>
  <path
    d="M297.028 161.539C296.797 161.078 298.779 160.393 298.779 161.333C298.779 164.483 296.192 164.527 300.324 164.527"
  ></path>
  <path
    d="M301.148 160.612L300.736 160.612L300.324 160.612L300.015 160.921L299.603 161.333L299.5 161.951L299.5 162.569L300.118 163.29L300.942 163.599L301.87 163.805L302.591 163.805L303.003 163.393L303.106 162.878L303.003 162.26L302.488 161.642L301.767 161.024L301.148 160.509L300.942 160.2"
  ></path>
  <path
    d="M304.187 160.303C304.239 161.538 304.957 164.414 305.887 163.599C307.487 162.2 304.149 159.384 304.187 160.303Z"
  ></path>
  <path
    d="M308.257 159.891L307.845 159.788L307.329 159.685L307.02 159.891L306.608 160.303L306.505 160.818L306.402 161.436L306.814 162.157L307.535 162.569L308.463 162.775L309.493 162.775L310.317 162.569L310.626 162.054L310.729 161.436L310.214 160.818L309.287 160.303L308.36 159.788L307.638 159.582"
  ></path>
  <path d="M300.324 170.708C300.97 171.998 302.5 172.568 303.724 173.18"></path>
  <path
    d="M303.363 169.42C302.289 168.346 301.202 170.67 302.591 171.738C305.896 174.28 305.186 171.243 303.363 169.42Z"
  ></path>
  <path
    d="M306.917 167.617C307.275 168.208 304.987 167.857 305.063 168.544C305.163 169.439 308.471 170.79 308.669 170.295C309.088 169.248 306.549 167.009 306.917 167.617Z"
  ></path>
  <path
    d="M309.905 165.402C310.388 166.105 308.355 165.202 307.845 165.969C307.08 167.115 309.809 168.939 310.729 168.544C312.181 167.922 309.335 164.574 309.905 165.402Z"
  ></path>
  <path
    d="M308.051 177.095C308.051 177.493 308.094 177.861 307.948 178.228C306.969 180.675 311.141 175.262 311.141 178.846C311.141 179.263 311.145 180.548 310.42 180.185"
  ></path>
  <path
    d="M309.956 175.137C309.268 177.19 312.998 177.115 312.686 174.931C312.472 173.432 310.229 174.324 309.956 175.137Z"
  ></path>
  <path
    d="M311.811 171.583C311.649 173.36 314.369 174.518 314.85 172.356C315.277 170.435 311.985 169.662 311.811 171.583Z"
  ></path>
  <path d="M319.279 180.7C319.279 184.503 318.19 179.192 316.292 182.039"></path>
  <path d="M316.498 176.682C316.498 181.024 322.535 174.086 320 179.155"></path>
  <path
    d="M317.374 174.004C317.552 177.437 321.251 175.254 320.309 172.665C319.631 170.8 317.317 172.92 317.374 174.004Z"
  ></path>
  <path d="M324.636 181.421C323.412 182.033 327.253 180.618 328.551 180.185"></path>
  <path d="M324.224 179.258C322.772 178.532 327.299 179.159 327.727 176.167"></path>
  <path
    d="M322.679 174.622C322.493 174.993 322.741 175.335 322.988 175.652C323.826 176.73 326.696 171.484 326.696 175.652"
  ></path>
  <path
    d="M333.702 177.301C332.205 180.293 333.677 172.409 335.453 175.961C336.762 178.581 331.023 179.309 331.023 178.228"
  ></path>
  <path
    d="M330.405 175.704C331.403 176.563 333.821 174.85 332.877 173.592C331.652 171.958 328.455 174.026 330.405 175.704Z"
  ></path>
  <path
    d="M338.543 174.004C339.119 175.156 336.175 173.397 337.513 172.356C338.881 171.292 339.517 173.517 338.337 171.944C338.21 171.774 337.584 171.097 337.822 170.811C338.487 170.013 340.082 170.276 340.398 171.223"
  ></path>
  <path
    d="M335.762 171.532L335.968 171.532L336.38 171.532L336.689 171.223L336.998 170.811L337.101 170.295L336.998 169.78L336.586 169.471L336.071 169.162L335.556 168.956L335.041 168.956L334.732 169.162L334.423 169.677L334.32 170.192L334.32 170.708L334.629 171.12L335.041 171.532"
  ></path>
  <path d="M342.561 167.205C341.517 168.249 343.157 165.357 343.385 164.218"></path>
  <path d="M339.367 166.69C343.826 167.582 336.545 160.694 342.149 163.496"></path>
  <path
    d="M343.9 159.685C343.984 159.518 343.476 155.037 344.415 155.976C345.298 156.859 343.342 160.801 343.9 159.685Z"
  ></path>
  <path
    d="M343.591 152.371C343.591 152.442 343.616 150.792 343.282 150.207C342.506 148.849 341.127 151.341 340.398 151.341"
  ></path>
  <path d="M342.149 152.68C342.469 151.721 342.683 150.22 341.737 149.589"></path>
  <path
    d="M341.222 144.953C342.792 144.43 339.846 147.789 339.264 147.014C337.61 144.808 340.701 141.73 336.483 144.541"
  ></path>
  <path d="M336.38 140.627C336.462 140.709 333.649 140.572 333.187 139.185"></path>
  <path d="M325.254 137.021C326.769 133.992 328.242 139.39 329.478 135.682"></path>
  <path
    d="M326.799 140.009C327.429 141.267 327.783 138.463 327.109 138.463C326.361 138.463 326.097 140.419 325.151 140.524C323.606 140.695 324.713 138.386 325.151 137.948"
  ></path>
  <path
    d="M322.37 134.652C323.194 134.652 321.354 134.676 321.134 134.652C319.178 134.435 319.897 136.147 319.897 137.33"
  ></path>
  <path d="M321.237 136.403C320.536 135.936 319.48 135.823 318.764 136.3"></path>
  <path d="M321.237 138.67C322.799 135.545 315.873 142.131 318.867 137.639"></path>
  <path
    d="M315.365 136.094C315.58 135.663 314.957 135.391 314.644 135.167C314.345 134.954 310.983 140.179 311.656 136.815C311.903 135.58 314.801 137.22 315.365 136.094Z"
  ></path>
  <path d="M316.086 139.288C314.946 135.868 314.057 145.596 312.48 139.288"></path>
  <path
    d="M307.329 138.154C306.602 140.338 305.426 142.081 307.226 139.082C308.454 137.036 310.311 139.621 309.802 140.215C309.549 140.509 308.464 140.434 308.257 140.421C305.841 140.27 307.862 139.426 308.772 141.245C309.752 143.206 306.051 142.84 305.372 141.142"
  ></path>
  <path
    d="M359.333 113.682C359.599 113.549 357.817 113.465 357.425 113.509C355.743 113.696 356.039 114.509 356.039 116.023"
  ></path>
  <path d="M359.419 118.363C358.642 116.032 355.518 116.036 355.518 118.797"></path>
  <path d="M357.165 116.976C357.318 116.672 357.772 118.51 357.772 118.883"></path>
  <path d="M359.419 120.357C358.574 120.075 357.183 120.79 356.212 120.79"></path>
  <path d="M357.165 125.992C360.277 127.029 358.599 127.189 355.952 128.072"></path>
  <path d="M356.819 127.725C356.819 127.812 356.819 127.899 356.819 127.985"></path>
  <path d="M359.766 123.304C358.944 120.015 356.212 123.01 356.212 125.125"></path>
  <path
    d="M359.593 132.233C360.861 132.233 356.45 130.998 356.212 131.713C356.043 132.219 359.59 131.797 359.593 131.799C360.315 132.522 355.957 132.894 356.905 133.273C361.553 135.132 357.725 132.714 355.692 134.747"
  ></path>
  <path d="M359.679 136.394C360.792 136.95 357.196 136.567 355.952 136.567"></path>
  <path
    d="M359.419 138.951C358.755 136.624 353.248 140 357.686 140.555C358.983 140.717 359.758 140.137 359.419 138.951Z"
  ></path>
  <path d="M357.859 141.855C357.859 142.459 357.772 143.056 357.772 143.675"></path>
  <path d="M359.246 145.062C358.7 144.517 356.198 145.322 355.345 145.322"></path>
  <path
    d="M359.246 145.496C359.486 145.015 359.622 147.403 358.206 147.403C357.21 147.403 357.165 145.056 357.165 144.455"
  ></path>
  <path
    d="M490.153 144.017C490.667 145.045 490.396 143.187 490.449 142.342C490.673 138.753 490.166 140.371 487.295 140.371"
  ></path>
  <path
    d="M483.452 144.608C483.603 145.061 483.465 144.96 484.142 144.904C488.386 144.55 486.525 140.075 482.664 140.075"
  ></path>
  <path
    d="M485.226 142.243L485.521 142.342L485.719 142.342L485.521 142.44L485.127 142.44L484.733 142.539L484.24 142.539L483.945 142.539L483.649 142.539"
  ></path>
  <path d="M480.89 144.411C481.488 145.607 481.382 140.796 481.382 139.878"></path>
  <path d="M476.455 144.214C477.328 145.961 482.359 140.371 476.849 140.371"></path>
  <path
    d="M474.878 140.568C475.476 139.971 473.574 144.548 473.499 144.51C472.824 144.172 471.64 140.92 471.429 140.075"
  ></path>
  <path d="M474.484 141.356L473.006 141.652"></path>
  <path d="M464.728 144.608C466.2 146.081 469.787 140.568 464.334 140.568"></path>
  <path d="M462.461 141.061C462.697 141.061 459.702 146.813 459.702 140.174"></path>
  <path d="M462.363 141.356L461.082 141.553"></path>
  <path
    d="M458.266 140.59C458.474 141.007 458.667 144.788 458.447 145.119C458.256 145.405 456.514 141.315 456.273 141.315C455.666 141.315 454.63 149.024 454.1 142.13C454.045 141.424 453.828 140.655 453.828 139.956"
  ></path>
  <path d="M449.48 145.028C453.431 143.711 454.921 140.047 449.661 140.047"></path>
  <path d="M452.107 142.945C451.466 142.945 450.853 142.854 450.205 142.854"></path>
  <path d="M447.488 144.847C446.785 146.252 447.669 141.708 447.669 140.137"></path>
  <path
    d="M447.669 144.666C447.204 145.596 445.5 145.586 445.133 144.485C444.816 143.533 447.307 142.402 447.307 142.402C447.307 142.402 445.223 141.027 445.223 139.956"
  ></path>
  <path d="M443.231 139.956C444.392 142.277 440.151 149.843 440.151 139.503"></path>
  <path
    d="M442.506 141.134L442.687 141.224L442.778 141.405L442.506 141.315L442.235 141.315L441.963 141.315L441.691 141.315L441.419 141.224L441.057 141.134L440.785 141.043"
  ></path>
  <path
    d="M498.389 135.246C498.941 135.246 497.757 131.08 497.303 131.08C496.347 131.08 496.715 134.975 496.125 134.975C494.817 134.975 495.53 130.14 494.857 131.261C494.307 132.178 495.051 134.833 494.042 135.337"
  ></path>
  <path d="M490.147 135.518C493.753 135.518 492.575 128.824 489.513 130.355"></path>
  <path d="M491.959 133.344C491.25 133.108 490.439 133.128 489.785 132.801"></path>
  <path d="M488.698 135.337C489.557 135.337 486.93 135.268 486.162 134.884"></path>
  <path d="M487.521 135.427C487.521 136.878 487.798 132.456 487.34 131.08"></path>
  <path
    d="M484.351 135.065C484.742 135.065 481.543 135.339 481.543 135.065C481.543 132.446 486.149 131.08 481.543 131.08"
  ></path>
  <path d="M479.913 135.156C478.945 131.287 480.409 132.325 477.377 130.808"></path>
  <path
    d="M476.109 131.352C477.014 131.352 474.716 135.484 474.659 135.427C474.102 134.87 473.573 131.728 473.573 130.808"
  ></path>
  <path d="M475.565 131.986L474.388 132.257"></path>
  <path d="M471.58 135.246C472.188 134.03 471.399 131.78 471.399 130.446"></path>
  <path
    d="M471.761 135.156C471.761 136.394 470.183 136.251 469.497 135.337C468.771 134.369 469.68 133.831 470.493 133.525C470.625 133.476 469.896 133.183 468.953 130.355"
  ></path>
  <path d="M435.119 136.062C436.089 136.547 432.749 132.439 433.234 133.409"></path>
  <path
    d="M431.977 135.434C431.977 135.725 432.822 134.123 433.024 133.758C433.251 133.35 433.138 130.874 433.234 130.826"
  ></path>
  <path d="M438.4 135.155C438.4 136.523 438.699 131.884 438.958 131.106"></path>
  <path
    d="M438.609 134.945C438.873 135.474 437.022 131.438 436.236 131.175C434.756 130.682 435.398 137.248 436.096 135.853"
  ></path>
  <path d="M442.309 135.574C442.309 136.98 442.867 132.783 443.496 131.525"></path>
  <path d="M441.89 135.783C441.56 135.123 441.727 134.038 441.471 133.27"></path>
  <path
    d="M449.425 134.43C449.425 133.729 449.273 132.987 449.389 132.294C449.46 131.866 449.389 130.557 449.389 130.991C449.389 132.122 448.869 133.911 449.389 134.865C449.603 135.257 447.406 129.611 446.638 133.453"
  ></path>
  <path d="M446.239 134.684L446.131 135.227"></path>
  <path d="M445.66 134.684C445.66 133.738 446.07 131.956 445.66 131.136"></path>
  <path
    d="M460.719 135.082L460.683 135.154L460.61 135.154L460.719 135.118L460.828 135.227L460.9 135.335L460.972 135.371L461.081 135.444L461.19 135.516"
  ></path>
  <path d="M463.434 133.706C463.434 129.337 460.38 132.614 461.334 133.091"></path>
  <path d="M463.253 134.032C464.03 134.032 462.957 135.661 461.66 135.661"></path>
  <path d="M458.547 133.996C458.627 133.597 458.656 133.206 458.656 132.801"></path>
  <path d="M458.547 134.213C457.574 131.781 459.209 131.353 456.086 131.353"></path>
  <path d="M458.402 135.589C458.895 135.753 456.33 135.819 455.724 135.516"></path>
  <path d="M456.194 133.779C456.813 133.779 457.399 133.67 458.004 133.67"></path>
  <path
    d="M453.805 135.552C453.81 135.563 453.841 134.447 453.841 134.141C453.841 133.101 453.877 132.096 453.877 131.064"
  ></path>
  <path
    d="M453.769 135.661C454.495 135.661 451.324 135.709 451.235 135.263C450.883 133.505 452.091 133.773 453.371 133.453"
  ></path>
  <path d="M451.923 133.489C451.148 133.102 450.89 131.861 451.271 131.1"></path>
  <path
    d="M337.054 332.076C342.532 333.902 374.52 333.345 380.69 331.803C389.805 329.524 403.004 332.348 412.599 332.348C436.832 332.348 460.598 330.985 484.599 330.985"
    stroke-width="2"></path>
</svg>

<style lang="scss">
  svg {
    display: block;
    width: 75%;
    margin-inline: auto;
    margin-block: var(--space--large);
  }
</style>
