<div class="circle"></div>

<style lang="scss">
  .circle {
    display: flex;
    justify-content: center;
    &::before,
    &::after {
      aspect-ratio: 1 / 1;
      background-image: linear-gradient(45deg, var(--foreground), var(--background));
      border-radius: 50%;
      border-top-right-radius: 0;
      content: '';
      inline-size: clamp(0%, 100%, 28.33rem);
      mix-blend-mode: lighten;
      transform: translate(25%);
      html[data-scheme='light'] & {
        mix-blend-mode: darken;
      }
    }
    &::after {
      transform: translate(-25%) rotate(180deg);
    }
  }
</style>
