<div class="circle">
  <div class="circle__inner"></div>
  <div class="circle__inner"></div>
</div>

<style lang="scss">
  .circle {
    display: flex;
    justify-content: center;
    margin-bottom: var(--step-5);
    &__inner {
      aspect-ratio: 1 / 1;
      background-image: linear-gradient(45deg, var(--light), var(--dark));
      border-radius: 50%;
      border-top-right-radius: 0;
      max-width: 500px;
      mix-blend-mode: lighten;
      transform: translate(25%);
      width: 50vw;
      &:nth-child(2) {
        transform: translate(-25%) rotate(180deg);
      }
    }
  }
</style>
