---
const id = Math.random().toString(32).slice(2);
---

<div class="code-block">
  <div class="code-block__header">
    <svg width="32" height="8" viewBox="0 0 40 8" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <circle cx="4" cy="4" r="4"></circle>
      <circle cx="20" cy="4" r="4"></circle>
      <circle cx="36" cy="4" r="4"></circle>
    </svg>
    <button class="code-block__copy" type="button" data-code={id}>Copy</button>
  </div>
  <pre class="code-block__content" id={id}><slot /></pre>
</div>

<script>
  const copyButtons = document.querySelectorAll('[data-code]');
  copyButtons.forEach(button => {
    button.addEventListener('click', () => {
      const codeId = button.getAttribute('data-code');
      const codeBlock = document.querySelector(`[id="${codeId}"]`);
      navigator.clipboard.writeText((codeBlock as HTMLElement).innerText);
    });
  });
</script>

<style lang="scss">
  @use '../styles/mixins' as *;

  .code-block {
    background-color: var(--code-background);
    border: 1px solid var(--code-border);
    border-radius: 0.5em 0.5em var(--radius) var(--radius);
    margin-top: var(--step-1);
    &__copy {
      @include label;
      font-size: var(--step--2);
    }
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: var(--step--2);
    }
    &__content {
      color: var(--code);
      font-size: var(--step--1);
      line-height: 1;
      overflow-x: auto;
      padding: var(--step--2);
      position: relative;
      font-family: monospace;
      line-height: 1.5;
    }
  }
</style>
