<code-block class="code-block">
  <div class="code-block__header">
    <svg width="32" height="8" viewBox="0 0 40 8" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <circle cx="4" cy="4" r="4"></circle>
      <circle cx="20" cy="4" r="4"></circle>
      <circle cx="36" cy="4" r="4"></circle>
    </svg>
    <button class="code-block__copy js-copy" type="button">Copy</button>
  </div>
  <pre class="code-block__content js-content"><slot /></pre>
</code-block>

<script>
  class CodeBlock extends HTMLElement {
    private abortController: AbortController;

    constructor() {
      super();
      this.abortController = new AbortController();
    }

    connectedCallback() {
      const copyButton = this.querySelector('.js-copy')!;
      const codeBlock = this.querySelector('.js-content')!;

      copyButton.addEventListener(
        'click',
        () => {
          navigator.clipboard.writeText(codeBlock.textContent || '');
        },
        { signal: this.abortController.signal }
      );
    }

    disconnectedCallback() {
      this.abortController.abort();
    }
  }

  customElements.define('code-block', CodeBlock);
</script>

<style lang="scss">
  @use '../styles/mixins' as *;

  .code-block {
    background-color: var(--code-background);
    border: 1px solid var(--outline);
    border-radius: 0.5em 0.5em var(--radius) var(--radius);
    display: block;
    margin-top: var(--step-1);
    &__copy {
      @include label;
      font-size: var(--step--2);
      &:focus-visible {
        @include focus-outline;
      }
    }
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: var(--step--2);
    }
    &__content {
      color: var(--code);
      font-size: var(--step--1);
      font-weight: bold;
      line-height: 1;
      overflow-x: auto;
      padding: var(--step--2);
      position: relative;
      font-family: monospace;
      line-height: 1.5;
    }
  }
</style>
