---
import { icons } from './content-icons';

interface Props {
  icon: keyof typeof icons;
  isSticky?: boolean;
}

const { icon, isSticky } = Astro.props;
const Icon = icons[icon];
---

<div class:list={[{ stuck: isSticky }]}>
  <Icon />
</div>

<style lang="scss">
  .stuck {
    position: sticky;
    top: var(--step-2);
  }
</style>
