---
import Logo from './Logo.astro'
import SchemeToggle from './SchemeToggle.astro'
---

<footer class="footer">
  <a href="/writing.xml">RSS</a>
  <Logo />
  <SchemeToggle />
</footer>

<style>
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>
