---
import { SchemeToggle } from './';

const year = new Date().getFullYear();
---

<footer class="footer">
  <div class="footer__links">
    <p class="footer__title">Elsewhere</p>
    <p>
      <a href="/writing.xml">RSS</a> &middot;
      <a href="https://bsky.app/profile/short.is" target="_blank" rel="noopener noreferrer">Bluesky</a> &middot;
      <a href="https://www.cosmos.so/alanshortis" target="_blank" rel="noopener noreferrer">Cosmos</a>
    </p>
    <p>&copy; 2009&mdash;{year} Alan Shortis</p>
  </div>
  <SchemeToggle />
</footer>

<style lang="scss">
  @use '../styles/mixins' as *;
  .footer {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    gap: var(--space) var(--space--large);
    justify-content: space-between;
    padding: var(--space--large);
    &__links {
      display: flex;
      flex-direction: column;
      gap: var(--space);
      @include label;
    }
    &__title {
      @include visually-hidden;
    }
  }
</style>
