---
import { Clock } from './';
---

<header class="header">
  <a href="/">
    <h1>as</h1>
  </a>
  <Clock />
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>
