---
import { Clock, Logo } from './';
---

<header class="header">
  <a href="/">
    <Logo />
    <span class="header__title">Home page</span>
  </a>
  <Clock />
</header>

<style lang="scss">
  @use '../styles/mixins' as *;
  .header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: var(--space--large);
    &__title {
      @include visually-hidden;
    }
  }
</style>
