---
import { Clock } from './';
---

<header class="header">
  <a href="/" class="header__title">Alan Shortis</a>
  <Clock />
</header>

<style lang="scss">
  .header {
    align-items: center;
    display: flex;
    grid-column: 1 / -1;
    justify-content: space-between;
    padding: var(--step-5) 0;
    &__title {
      font-style: italic;
      font-weight: bold;
    }
  }
</style>
