---
import { Clock, Logo } from './';

const { pathname } = Astro.url;

const menuItems = [
  {
    label: 'Writing',
    href: '/writing',
  },
  {
    label: 'Reading',
    href: '/reading',
  },
  {
    label: 'Sketches',
    href: '/sketches',
  },
];
---

<header class="header">
  <a href="/" class="header__logo">
    <Logo />
    <span class="header__title">Home page</span>
  </a>
  <nav>
    <ul class="header__menubar" role="menubar">
      {
        menuItems.map(({ label, href }) => (
          <li role="none">
            <a
              class="header__menuitem"
              href={href}
              role="menuitem"
              aria-current={pathname.startsWith(href) ? 'page' : null}
            >
              {label}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
  <Clock />
</header>

<style lang="scss">
  @use '../styles/mixins' as *;
  .header {
    align-items: center;
    display: flex;
    gap: var(--space);
    justify-content: flex-end;
    padding: var(--space--large);
    @include fixed-width;
    @include small {
      padding-block: var(--space--large);
      padding-inline: var(--space);
    }
    @include small {
      align-items: flex-start;
    }
    &__logo {
      margin-inline-end: auto;
    }
    &__title {
      @include visually-hidden;
    }
    &__menubar {
      display: flex;
      gap: var(--space);
      @include small {
        flex-direction: column;
      }
    }
    &__menuitem {
      display: block;
      line-height: 1;
      position: relative;
      @include label;
      &[aria-current='page']::after {
        @include active-indicator;
        @include small {
          left: calc(-1.618em + 0.5lh);
          top: calc(50% - 0.1725em);
        }
      }
    }
  }
</style>
