---
import { Logo, Menu } from './';
---

<header class="header">
  <a href="/" class="header__logo">
    <Logo />
    <span class="header__title">Home page</span>
  </a>
  <Menu />
</header>

<style lang="scss">
  @use '../styles/mixins' as *;
  .header {
    align-items: center;
    display: flex;
    gap: var(--space);
    justify-content: flex-end;
    padding: var(--space--large);
    @include fixed-width;
    @include small {
      padding-block: var(--space--large);
      padding-inline: var(--space);
    }
    @include small {
      align-items: flex-start;
    }
    &__logo {
      margin-inline-end: auto;
    }
    &__title {
      @include visually-hidden;
    }
  }
</style>
