---
import { getCollection } from 'astro:content';

const collection = await getCollection('reading');
const recentReading = collection.slice(0, 7);
---

<div class="reading">
  <h2 class="reading__title">Recent reading</h2>
  <div class="list">
    {
      recentReading.map(post => (
        <article class="article">
          <a class="article__item" href={post.data.url} target="_blank" rel="noopener noreferrer">
            <h1 class="article__title">{post.data.title}</h1>
            <p class="article__author">{post.data.author}</p>
          </a>
        </article>
      ))
    }
    <a href="/reading" class="article__item article__item--more">More &rarr;</a>
  </div>
</div>

<style lang="scss">
  @use '../styles/mixins' as *;

  .reading {
    display: flex;
    border: 1px solid var(--divider);
    border-radius: var(--radius--large);
    flex-direction: column;
    gap: var(--step-5);
    overflow: hidden;
    padding-block: var(--space);
    position: relative;
    &::after {
      background-image: linear-gradient(to right, transparent, var(--background));
      content: '';
      height: 100%;
      inset-block-start: 0;
      inset-inline-end: 0;
      pointer-events: none;
      position: absolute;
      width: 10%;
    }
    &__title {
      font-weight: bold;
      margin-inline-start: var(--space);
    }
  }

  .list {
    display: flex;
    gap: calc(var(--space) + 0.5em);
    overflow-x: auto;
    padding-bottom: 0.5em;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
  }
  .article {
    &:first-child {
      margin-inline-start: var(--space);
    }
    @include depth(0.5em);
    &__item {
      display: flex;
      flex-direction: column;
      gap: var(--space);
      height: 100%;
      padding: var(--space--small);
      width: 15rem;
      &--more {
        align-self: center;
        margin-inline-end: var(--space--large);
        text-wrap: nowrap;
      }
    }
    &__title {
      font-weight: bold;
      line-height: 1.304;
      text-wrap: balance;
    }
    &__author {
      font-size: var(--step--1);
      margin-block-start: auto;
      margin-inline-start: auto;
      font-style: italic;
      text-align: inline-end;
    }
  }
</style>
