---
import { getCollection } from 'astro:content';

const collection = await getCollection('reading');
const recentReading = collection.slice(0, 7);
---

<div class="reading">
  <h2 class="reading__title">Recent reading</h2>
  <p class="reading__description">Things of note I have recently read, watched, or listened to</p>
  <div class="list">
    {
      recentReading.map(post => (
        <article>
          <a class="list__item" href={post.data.url} target="_blank" rel="noopener noreferrer">
            <h1 class="list__title">{post.data.title}</h1>
            <p class="list__author">
              <span>by</span> {post.data.author}
            </p>
          </a>
        </article>
      ))
    }
    <a href="/reading" class="list__item--more">More &rarr;</a>
  </div>
</div>

<style lang="scss">
  @use '../styles/mixins' as *;

  .reading {
    margin-top: var(--step-5);
    overflow: hidden;
    position: relative;
    &::after {
      background-image: linear-gradient(to right, transparent, var(--background));
      bottom: 0;
      content: '';
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
      width: var(--step-5);
      z-index: 1;
    }
    &__title {
      @include visually-hidden;
    }
    &__description {
      margin-bottom: var(--step-2);
      text-wrap: balance;
      padding: 0 var(--step-0);
      @include small {
        padding: 0 var(--step-5);
      }
    }
  }

  .list {
    display: flex;
    gap: var(--step-2);
    overflow-x: auto;
    padding-bottom: calc(var(--step--2) / 2);
    padding-left: var(--step-0);
    padding-right: var(--step-5);
    scrollbar-width: none;
    @include small {
      padding-left: var(--step-5);
    }
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &__title {
      font-weight: bold;
    }
    &__item {
      color: var(--foreground);
      display: flex;
      flex-direction: column;
      gap: var(--step--2);
      height: 100%;
      padding: var(--step--2);
      width: 15rem;
      @include depth;
      &--more {
        display: flex;
        text-wrap: nowrap;
        align-items: center;
      }
    }
    &__author {
      font-size: var(--step--1);
      margin-top: auto;
      text-align: right;
      span {
        font-style: italic;
      }
    }
  }
</style>
