---
import type { Headings } from '../types';

interface Props {
  headings: Headings;
}

const { headings } = Astro.props;
---

<nav>
  <ul class="contents">
    {headings.map((heading) => (
      <li class={`item heading-${heading.depth}`}>
        <a href={`#${heading.slug}`}>{heading.text}</a>
      </li>
    ))}
  </ul>
</nav>

<style lang="scss">
  @use '../styles/mixins' as *;

  .contents {
    margin: 0;
    padding: 0;
  }
  .item {
    list-style: none;
    @include label;
  }
  .heading-3 {
    margin-left: 1rem;
  }
</style>
