---
import type { RenderResult } from 'astro:content';

interface Props {
  headings: RenderResult['headings'];
}

const { headings } = Astro.props;
---

<nav>
  <ul class="contents">
    {
      headings.map(heading => (
        <li class={`contents__item contents__item--level${heading.depth}`}>
          <a href={`#${heading.slug}`}>{heading.text}</a>
        </li>
      ))
    }
  </ul>
</nav>

<style lang="scss">
  @use '../styles/mixins' as *;

  .contents {
    margin: 0;
    padding: 0;
    &__item {
      list-style: none;
      @include label;
    }
    &__item--level3 {
      margin-left: 1rem;
    }
  }
</style>
