@font-face {
  font-family: $serif;
  src: url('../fonts/calendas.woff2') format('woff2'), url('../fonts/calendas.woff') format('woff');
  font-weight: $weight--regular;
  font-style: normal;
}

@font-face {
  font-family: $serif;
  src: url('../fonts/calendas-italic.woff2') format('woff2'), url('../fonts/calendas-italic.woff') format('woff');
  font-weight: $weight--regular;
  font-style: italic;
}

@font-face {
  font-family: $serif;
  src: url('../fonts/calendas-bold.woff2') format('woff2'), url('../fonts/calendas-bold.woff') format('woff');
  font-weight: $weight--bold;
  font-style: normal;
}

@font-face {
  font-family: $sans;
  src: url('../fonts/geomanist-regular.woff2') format('woff2'), url('../fonts/geomanist-regular.woff') format('woff');
  font-weight: $weight--regular;
  font-style: normal;
}

@font-face {
  font-family: $sans;
  src: url('../fonts/geomanist-medium.woff2') format('woff2'), url('../fonts/geomanist-medium.woff') format('woff');
  font-weight: $weight--bold;
  font-style: normal;
}
