@font-face {
  font-family: $font__serif;
  src: url('../fonts/calendas_plus.woff2') format('woff2'), url('../fonts/calendas_plus.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font__sans;
  src: url('../fonts/geomanist-regular.woff2') format('woff2'), url('../fonts/geomanist-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
