.footer {
  align-items: center;
  background-color: hsla(0, 0, 50%, 10%);
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  gap: var(--step-2);
  justify-content: space-between;
  margin: var(--step-2);
  margin-top: 0;
  padding: var(--step-2);
}
