---
import Example from '../../layouts/example.astro';
---

<Example pageTitle="Share button example" description="An example of a share button web component">
  <div class="container">
    <share-button></share-button>
  </div>
</Example>

<script>
  class ShareButton extends HTMLElement {
    private shareUrl: string;
    private shareTitle: string;

    constructor() {
      super();

      this.shareUrl = window.location.href;
      this.shareTitle = document.title;
    }

    connectedCallback() {
      this.innerHTML = `
      <style>
        .share {
          background-color: #eb5c0f;
          border-radius: 1.9em;
          color: white;
          cursor: pointer;
          display: block;
          font-size: .9em;
          font-weight: bold;
          padding: .5em 1em;
        }
      </style>

      <button class="share" type="button">Share</button>
    `;

      this.querySelector('button')!.addEventListener('click', async () => {
        try {
          await navigator.share({
            title: this.shareTitle,
            url: this.shareUrl,
          });
        } catch (e) {
          if (e instanceof Error && e.name === 'AbortError') {
            console.log('Share cancelled');
          } else {
            console.error(e);
          }
        }
      });
    }
  }

  if ('customElements' in window && 'share' in navigator) {
    customElements.define('share-button', ShareButton);
  }
</script>

<style lang="scss">
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
</style>
