<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{% unless page.title == 'Home' %}{{ page.title | append: ' &middot; ' | append: site.title }}{% else %}{{ site.title }}{% endunless %}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:url" content="{{site.url}}{{page.url}}">
    <meta property="og:title" content="{% if page.title %}{% unless page.title == 'Home' %}{{ page.title | append: ' &middot; ' | append: site.title }}{% else %}{{ site.title }}{% endunless %}{% endif %}">
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:site_name" content="short.is">
    <meta property="og:image" content="{{site.image}}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="short.is">
    <meta name="twitter:title" content="{% if page.title %}{% unless page.title == 'Home' %}{{ page.title | append: ' &middot; ' | append: site.title }}{% else %}{{ site.title }}{% endunless %}{% endif %}">
    <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="twitter:creator" content="@alanshortis">
    <meta name="twitter:image" content="{{site.image}}">
    <link rel="icon" href="{{ "/favicon.ico" | prepend: site.baseurl | append: '?v=' | append: site.version }}">
    <link rel="stylesheet" href="{{ "/css/as.css" | prepend: site.baseurl | append: '?v=' | append: site.version }}">
  </head>
  <body {% if page.layout == 'post' %}class="post"{% elsif page.layout == 'playlist' %}class="playlist"{% endif %}>
    <div class="visually-hidden">
      {% include icons.svg %}
    </div>
    {{ content }}
  </body>
</html>
