---
layout: default
---

{% include post-header.html %}

<article class="post-container">
  <h1 class="post-container__title">{{page.title}}</h1>
  <div class="post-container__meta">
    <small>
      <time datetime="{{post.date}}">{{page.date | date_to_long_string}}</time> / Reading time:
      {% assign words = content | number_of_words %}
      {% if words < 270 %}
        1 minute
      {% else %}
        {{ words | divided_by: 135 }} minutes
      {% endif %}
    </small>
    {% if page.github_url %}
      <a class="post-container__meta" target="_blank" href="{{page.github_url}}">
        <svg class="icon icon--dark icon--individual" role="presentation">
          <use xlink:href="#icon-github"></use>
        </svg>
        <small>Fork on Github</small>
      </a>
    {% endif %}
  </div>
  {{content}}
</article>

{% include post-footer.html %}
