---
layout: 'page'
---

{% block content %}
  <main class="home">
    <section class="home-page__cover">
      <h1 class="home-page__title">404 &nbsp;&nbsp;<a href="/" class="label arrow--left">Take me home</a></h1>
      <div class="orb"></div>
    </section>
  </main>
{% endblock %}
