---
layout: 'page'
title: 'About'
eleventyNavigation:
  key: about
  order: 4
---

{% block content %}
  <section>
    <h1>About</h1>
    <h2>Now</h2>
    <ul>
      <li>Reading {{ goodreads | safe }}.</li>
    </ul>
  </section>
{% endblock %}
