---
layout: 'page'
title: 'About'
eleventyNavigation:
  key: about
  order: 4
---

{% block content %}
  <section>
    <h1>About</h1>
    <p>Reading {{ goodreads | safe }}.</p>
  </section>
{% endblock %}
