---
layout: 'page'
---

{% from "macros/external-link.njk" import externalLink %}

{% block content %}
  <main>
    <article class="post">
      <div class="post__meta">
        <h1>{{ site.description }}</h1>
      </div>
      <div class="post__body post-formatting">
        <p class="large">I’m Alan Shortis—a front end developer based in Nottingham. I like CSS more than JavaScript, design systems more than chaos, and accessibility more than exclusion.</p>
        <p>As a front end developer, I specialise in building user interfaces with HTML and CSS. But, it being {{ site.year }}, I also work extensively in JavaScript, using React on a daily basis partnered with GraphQL and Node.</p>
        <p>I have been a developer professionally in some capacity for more than 10 years, though I made my first websites in the late 90s. They were terrible, even by the standards of Geocities.</p>
        <p>My preference for front end development is likely connected to me being a design hobbyist who used the internet to show off derivative ideas. Across my career I have also worked with Classic ASP, .net, PHP, and SQL in my brief time as an analyst, but building accessible user interfaces for people is where I have settled.</p>
        <h2>Now</h2>
        <ul>
          <li>Reading {{ goodreads | safe }}.</li>
          <li>Learning German.</li>
          <li>Watching {{ externalLink('https://www.netflix.com/gb/title/81078137', "Pretend it's a City") }}.</li>
          <li>Writing a new version of {{ externalLink('https://nivolet.cc', 'nivolet.cc') }}.</li>
        </ul>
        <h2>This site</h2>
        <p>short.is uses {{ externalLink('https://www.11ty.dev/', 'Eleventy') }} to generate static HTML, {{ externalLink('https://sass-lang.com/', 'Sass') }} to author CSS, {{ externalLink('https://www.webcomponents.org/', 'web components') }} for client JavaScript, and {{ externalLink('https://www.netlify.com/', 'Netlify') }} to build, deploy and host.</p>
        <h2>Elsewhere</h2>
        <p>You can also find me on {{ externalLink('https://codepen.io/alanshortis', 'CodePen') }}, {{ externalLink('https://github.com/alanshortis', 'GitHub') }}, {{ externalLink('https://www.instagram.com/ashortis/', 'Instagram') }}, {{ externalLink('https://www.last.fm/user/ashortis', 'Last.fm') }}, {{ externalLink('https://www.strava.com/athletes/138800', 'Strava') }}, and {{ externalLink('https://twitter.com/alanshortis', 'Twitter') }}.
      </div>
    </article>
  </main>
{% endblock %}
