---
layout: 'page'
title: 'Daily'
changeFreq: 'daily'
eleventyNavigation: 
  key: Daily
  order: 2
---

<p>Daily</p>

<a href="/feeds/daily.xml">RSS</a>

<div>
  {%- for post in collections.daily | reverse -%}
    <a href="{{post.data.permalink}}">
      {%- set postDate = post.data.date %}
      {% include 'postdate.njk' %}
      <p>{{post.data.title}}</p>
    </a>
  {%- endfor %}
</div>
