---
layout: 'page'
title: 'Daily'
changeFreq: 'daily'
eleventyNavigation: 
  key: Daily
  order: 2
---

<section>
  <header>
    <h1>Daily</h1>
    <a href="/feeds/daily.xml">RSS</a>
  </header>

  <ul>
    {%- for post in collections.daily | reverse -%}
      <li>
        <article>
          <a href="{{post.data.permalink}}">
            {%- set postDate = post.data.date %}
            {%- set withNewLabel = false %}
            {% include 'postdate.njk' %}
            <h2>{{post.data.title}}</h2>
          </a>
        </article>
      </li>
    {%- endfor %}
  </ul>
</section>
