---
layout: 'page'
---

{% from "macros/post-date.njk" import postDate %}

{% block content %}
  <div class="home-page">
    <section class="home-page__section home-page__section--cover">
      <h1>Alan Shortis</h1>
    </section>
    <section class="home-page__section">
      <ul>
        {%- for post in collections.writing | reverse -%}
          <li class="writing__post">
            <a href="{{ post.data.permalink }}">
              <p>{{ postDate(post.data.date, post.data.updated) }}</p>
              <h2>{{ post.data.title }}</h2>
              <p>{{ post.data.intro }}</p>
            </a>
          </li>
        {%- endfor %}
      </ul>
    </section>
  </div>
{% endblock %}
