---
layout: 'page'
title: 'Photography'
eleventyNavigation:
  key: Photography
  order: 3
---

<section>
  <header>
    <h1>Photography</h1>
  </header>

  <ul>
    {%- for photo in photos %}
      <li>
        <figure>
          <picture>
            <source srcset="/photos/as-{{ photo.id }}@0.5x.webp" type="image/webp"/>
            <img src="/photos/as-{{ photo.id }}@0.5x.jpg" loading="lazy" alt="{{ photo.alt }}"/>
          </picture>
          <figcaption>{{ photo.location }}, {{ photo.year }}.
            {{ photo.camera }}
            {% if photo.film %}on {{ photo.film }}
            {% endif %}
          </figcaption>
        </figure>
      </li>
    {%- endfor %}
  </ul>
</section>
