---
layout: 'page'
title: 'Playlists'
eleventyNavigation:
  key: Playlists
  order: 4
---

<p>Playlists</p>

<ul>
  {%- for playlist in spotify.annual %}
    {%- include 'playlist.njk' %}
  {%- endfor %}
</ul>

<ul>
  {%- for playlist in spotify.theme %}
    {%- include 'playlist.njk' %}
  {%- endfor %}
</ul>
