---
layout: 'page'
title: 'Writing'
eleventyNavigation:
  key: Writing
  order: 1
---

<p>Writing</p>

<a href="/feeds/writing.xml">RSS</a>

<div>
  {%- for post in collections.writing | reverse -%}
    <a href="{{ post.data.permalink }}">
      <p>
        <span class="sr-only">Posted on: </span>
        <time datetime="{{ post.data.date }}">{{ post.data.date | formatDate }}</time>
      </p>
      {% if post.data.date | dateDiff < 28 %}
        <mark>New!</mark>
      {% endif %}
      <p>{{ post.data.title }}</p>
      <p>{{ post.data.intro }}</p>
    </a>
  {%- endfor %}
</div>
