:root {
  --light: white;
  --dark: #222;

  --background: var(--light);
  --text: var(--dark);

  & body.dark {
    --background: var(--dark);
    --type: var(--light);
  }
}

html {
  height: 100%;
  scroll-behavior: smooth;
  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

body {
  background-color: var(--background);
  color: var(--type);
  min-height: 100%;
}

a {
  color: currentColor;
  text-decoration: none;
}
