---
import '../styles/examples.scss';

const { pageTitle, description } = Astro.props;
---

<script>
  document.documentElement.dataset.scheme = localStorage.getItem('scheme') || 'auto';
</script>

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>{`Alan Shortis | ${pageTitle}`}</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <slot />
  </body>
</html>
