@use '~/src/styles/mixins.scss' as *;

.grid {
  display: grid;
  gap: var(--step-0);
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin-top: calc(var(--step-5) * 4);
  @include medium {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: calc(var(--step-5) * 4) var(--step-0);
  }
}

.full {
  grid-column: 1 / -1;
}

.day {
  font-family: Signifier;
  font-size: calc(var(--step-5) * 2);
  line-height: 1;
}

.title {
  display: inline;
  font-weight: normal;
  grid-column: 1 / -1;
  @include medium {
    grid-column: 1 / 6;
  }
}

.mainContent {
  grid-column: 1 / -1;
  @include medium {
    grid-column: 6 / 13;
  }
  header {
    margin-bottom: var(--step-2);
  }
}
