@use '~/src/styles/mixins.scss' as *;

.grid {
  display: grid;
  gap: var(--step-5) var(--step-0);
  margin-top: calc(var(--step-5) * 4);
  @include medium {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: calc(var(--step-5) * 4) var(--step-0);
    padding: 0 var(--step-2);
  }
}

.aside {
  display: inline;
  font-weight: normal;
  @include medium {
    grid-column: 1 / 6;
  }
  h1,
  h2 {
    font-family: Epicene, Georgia, 'Times New Roman', Times, serif;
    font-size: calc(var(--step-5) * 2);
    line-height: 1;
  }
}

.mainContent {
  margin-bottom: calc(var(--step-5) * 2);
  @include medium {
    grid-column: 6 / 13;
    &:not(:only-of-type) {
      margin-bottom: 0;
    }
  }
  header {
    margin-bottom: var(--step-2);
  }
}
