---
import { getCollection } from 'astro:content';
import Base from '../../layouts/base.astro';
import { PostBox } from '../../components';

const collection = await getCollection('posts');
const posts = collection.sort((a, b) => b.data.pubDate.localeCompare(a.data.pubDate));
---

<Base pageTitle="Alan Shortis" description="My name is Alan Shortis and I am a web engineer">
  <div class="home">
    <h1 class="home__title">Writing</h1>
    <div class="home__posts">
      {posts.map((post, idx) => <PostBox post={post} isFeatured={idx === 0} />)}
    </div>
  </div>
</Base>

<style lang="scss">
  @use '../../styles/mixins' as *;
  .home {
    display: flex;
    flex-direction: column;
    gap: var(--space--large);
    &__title {
      font-size: var(--step-5);
      font-weight: bold;
    }
    &__posts {
      display: grid;
      gap: var(--space);
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 1fr;
      @include small {
        grid-template-columns: 1fr;
      }
    }
  }
</style>
