<div class="progress">
  <decimal-progress>
    <div
      id="progress"
      class="progress__outer"
      role="progressbar"
      aria-valuemin="0"
      aria-valuemax="100"
      aria-valuenow="0"
    >
      <div class="progress__inner" style="width: 20%"></div>
    </div>
    <label class="progress__label" for="progress"></label>
  </decimal-progress>
</div>

<script>
  interface DecimalTime {
    hours: string;
    minutes: string;
    seconds: string;
  }

  class DecimalProgress extends HTMLElement {
    private progressOuter: HTMLDivElement;
    private progressInner: HTMLDivElement;
    private progressLabel: HTMLDivElement;
    private animationFrameId?: number;
    private lastUpdate: number;
    private TOTAL_SECONDS_IN_DAY = 24 * 60 * 60;

    constructor() {
      super();
      this.progressOuter = this.querySelector('[role="progressbar"]')!;
      this.progressInner = this.querySelector('[role="progressbar"] div')!;
      this.progressLabel = this.querySelector('[for="progress"]')!;
      this.lastUpdate = performance.now();
    }

    connectedCallback() {
      this.updateTime();
    }

    disconnectedCallback() {
      if (this.animationFrameId) {
        cancelAnimationFrame(this.animationFrameId);
        this.animationFrameId = undefined;
      }
    }

    private updateTime(): void {
      const now = performance.now();
      const elapsed = now - this.lastUpdate;

      if (elapsed >= 157.407407407) {
        this.setDecimalTime();
        this.lastUpdate = now;
      }

      this.animationFrameId = requestAnimationFrame(() => this.updateTime());
    }

    private setDecimalTime(): void {
      const now = new Date();
      const secondsSinceMidnight =
        now.getHours() * 3600 + now.getMinutes() * 60 + now.getSeconds() + now.getMilliseconds() / 1000;

      // Calculate the fraction of the day that has passed
      const fractionOfDay = secondsSinceMidnight / this.TOTAL_SECONDS_IN_DAY;

      // Convert the fraction of the day into metric time
      const totalMetricSecondsInDay = 10 * 100 * 100; // Total metric seconds in a day
      const metricSecondsElapsed = fractionOfDay * totalMetricSecondsInDay;
      const elapsedPercentage = ((metricSecondsElapsed / totalMetricSecondsInDay) * 100).toFixed(1);

      this.progressOuter.ariaValueNow = elapsedPercentage;
      this.progressInner.style.width = `${elapsedPercentage}%`;
      this.progressLabel.innerHTML = `${elapsedPercentage}%`;
      this.progressLabel.style.left = `${elapsedPercentage}%`;
    }
  }

  customElements.define('decimal-progress', DecimalProgress);
</script>

<style lang="scss">
  @use '../../styles/mixins' as *;

  .progress {
    margin-block: var(--space--large);
    margin-inline: auto;
    width: 70%;
    &__outer {
      background:
        linear-gradient(90deg, var(--background) calc(4px - 1px), transparent 1%) center / 4px 4px,
        linear-gradient(var(--background) calc(4px - 1px), transparent 1%) center / 4px 4px,
        var(--foreground);
      height: 22px;
      background-position: center right;
    }
    &__inner {
      background-color: var(--foreground);
      height: 100%;
    }
    &__label {
      position: relative;
      margin-inline-start: -2.5ch;
      top: 0.5ch;
      @include label;
      &::before {
        content: '';
        position: absolute;
        height: 60%;
        width: 1px;
        left: calc(2.5ch - 1px);
        top: -1.5ch;
        background-color: currentColor;
      }
    }
  }
</style>
