<div class="progress">
  <decimal-progress>
    <div
      class="progress__outer"
      role="progressbar"
      aria-valuemin="0.0%"
      aria-valuemax="99.9%"
      aria-valuenow=""
    >
      <div class="progress__inner"></div>
    </div>
    <span class="progress__label"></span>
  </decimal-progress>
</div>

<script>
  import type { DecimalTime } from '../../shared-types';
  import SharedDecimalClockManager from '../../workers/decimal-clock';

  class DecimalProgress extends HTMLElement {
    private sharedManager: SharedDecimalClockManager;
    private progressOuter: HTMLDivElement;
    private progressInner: HTMLDivElement;
    private progressLabel: HTMLSpanElement;
    private timeUpdateCallback: (decimalTime: DecimalTime) => void;

    constructor() {
      super();
      this.sharedManager = SharedDecimalClockManager.getInstance();
      this.progressOuter = this.querySelector('.progress__outer')!;
      this.progressInner = this.progressOuter.querySelector('.progress__inner')!;
      this.progressLabel = this.querySelector('.progress__label')!;

      this.timeUpdateCallback = (decimalTime: DecimalTime) => {
        this.setProgress(decimalTime);
      };

      this.sharedManager.subscribe(this.timeUpdateCallback);
    }

    disconnectedCallback() {
      this.sharedManager.unsubscribe(this.timeUpdateCallback);
    }

    private setProgress(decimalTime: DecimalTime): void {
      const elapsedPercentage = (decimalTime.hours * 10 + decimalTime.minutes / 10).toFixed(1);

      this.progressOuter.ariaValueNow = elapsedPercentage;
      this.style.setProperty('--progress-width', `${elapsedPercentage}%`);
      this.style.setProperty('--progress-label-left', `${elapsedPercentage}%`);
      this.progressLabel.innerHTML = `${elapsedPercentage}%`;
    }
  }

  customElements.define('decimal-progress', DecimalProgress);
</script>

<style lang="scss">
  @use '../../styles/mixins' as *;

  .progress {
    margin-block: var(--space--large);
    margin-inline: auto;
    width: 70%;
    &__outer {
      background:
        linear-gradient(90deg, var(--background) calc(4px - 1px), transparent 1%) center / 4px 4px,
        linear-gradient(var(--background) calc(4px - 1px), transparent 1%) center / 4px 4px,
        var(--foreground);
      height: 22px;
      background-position: center right;
    }
    &__inner {
      background-color: var(--foreground);
      height: 100%;
      width: var(--progress-width, 0%);
    }
    &__label {
      left: var(--progress-label-left, 0%);
      margin-inline-start: -2.5ch;
      position: relative;
      top: 0.5ch;
      @include label;
      &::before {
        content: '';
        position: absolute;
        height: 60%;
        width: 1px;
        left: calc(2.5ch - 1px);
        top: -1.5ch;
        background-color: currentColor;
      }
    }
  }
</style>
