---
interface Props {
  isLarge?: boolean;
  isDecimal?: boolean;
}

const { isLarge, isDecimal = false } = Astro.props;
---

<decimal-clock class={`time ${isLarge ? 'time--large' : ''}`} data-decimal={isDecimal.toString()}>
  {
    isDecimal ? (
      <span>
        <span class="vh">Decimal time: </span>
        <span class="js-time">0:00:00</span>
      </span>
    ) : (
      <time class="js-time">00:00:00</time>
    )
  }
</decimal-clock>

<script>
  import type { Time } from '../../shared-types';
  import { subscribe as subscribeTime } from '../../workers/time';
  import { subscribe as subscribeDecimal } from '../../workers/decimal-time';

  class DecimalClock extends HTMLElement {
    private unsubscribe?: () => void;
    private timeSpan: HTMLSpanElement;
    private pad: (num: number) => string;

    constructor() {
      super();
      this.timeSpan = this.querySelector('.js-time')!;
      this.pad = (num: number) => num.toString().padStart(2, '0');
    }

    connectedCallback() {
      const isDecimal = this.dataset.decimal === 'true';
      const subscribe = isDecimal ? subscribeDecimal : subscribeTime;
      this.unsubscribe = subscribe(time => this.setTime(time));
    }

    disconnectedCallback() {
      this.unsubscribe?.();
    }

    private setTime(time: Time): void {
      const { hours, minutes, seconds } = time;
      const timeString = `${hours}:${this.pad(minutes)}:${this.pad(seconds)}`;
      this.timeSpan.textContent = timeString;
    }
  }

  customElements.define('decimal-clock', DecimalClock);
</script>

<style lang="scss">
  @use '../../styles/mixins' as *;

  .time {
    @include label;
    &--large {
      font-size: var(--step-2);
    }
  }
</style>
