@use '~/src/styles/mixins' as *;

.container {
  display: grid;
  row-gap: var(--step-5);
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  grid-auto-rows: min-content;
  @include slide-in;
}

.title {
  font-style: italic;
  font-size: var(--step-3);
  font-weight: bold;
  grid-column: 1 / -1;
  text-wrap: balance;
  line-height: var(--step-5);
  h1 {
    text-indent: -5px;
  }
}

.meta {
  grid-column: 1 / -1;
  @include break {
    border-bottom: 0;
    grid-column: 1 / 6;
  }
}

.content {
  grid-column: 1 / -1;
  @include break {
    grid-column: 6 / -1;
  }
}

.intro {
  font-size: var(--step-1);
  margin-bottom: var(--step-3);
}
