@use '~/src/styles/mixins' as *;

.container {
  border: 1px solid var(--divider);
  border-width: 1px 0;
  display: grid;
  gap: calc(var(--spacer) * 2) var(--spacer);
  grid-auto-rows: min-content;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  @include slide-in;
}

.title {
  grid-column: 1 / -1;
  font-style: italic;
  font-size: var(--step-5);
  font-weight: bold;
  text-indent: -0.1em;
  text-wrap: balance;
  line-height: 1;
}

.meta {
  grid-column: 1 / -1;
  @include break {
    grid-column: 1 / 6;
  }
}

.content {
  grid-column: 1 / -1;
  @include break {
    grid-column: 6 / -1;
  }
}
