<div class="container">
  <span class="container__alt">
    An image made using code. What appears to be a dark grey ball sitting on a hard, featureless surface. The
    ball is lit from the top-left corner and it casts a shadow to the bottom-right.</span
  >
  <div class="orb"></div>
</div>

<style lang="scss">
  @use '../../styles/mixins' as *;

  .container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    perspective: 750px;
    width: 100%;
    &__alt {
      @include visually-hidden;
    }
  }

  .orb {
    aspect-ratio: 1 / 1;
    background-image: linear-gradient(-225deg, var(--light), #000);
    border-radius: 50%;
    box-shadow:
      inset 0 0 15vh 0 #000,
      15vw 15vh 3vh -3vh hsl(100, 0%, 7%, 75%);
    width: 75vw;
    max-width: 25rem;
  }
</style>
