<div class="moire">
  <span class="moire__alt">
    An image made using code. Three circles overlaid, slowly rotating at different speeds. Each circle is made
    up of narrow straight lines, and as they rotate we see the moire effect, which creates unexpected
    patterns.</span
  >
  <div class="moire__item"></div>
  <div class="moire__item"></div>
  <div class="moire__item"></div>
</div>

<style lang="scss">
  @use '../../styles/mixins' as *;

  @keyframes moire {
    100% {
      rotate: 360deg;
    }
  }

  .moire {
    aspect-ratio: 1 / 1;
    inline-size: clamp(0%, 100%, 25rem);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-content: center;
    &__alt {
      @include visually-hidden;
    }
    &__item {
      --moire-color: var(--divider);
      grid-area: 1 / 1;
      border-radius: 50%;
      width: 100%;
      aspect-ratio: 1 / 1;
      place-self: center;
      background: linear-gradient(
        -45deg,
        var(--moire-color) 1%,
        transparent 1%,
        transparent 49%,
        var(--moire-color) 49%,
        var(--moire-color) 55%,
        transparent 55%,
        transparent 99%,
        var(--moire-color) 99%
      );
      background-position: center center;
      background-size: 0.5em 0.5em;
      @include should-animate {
        animation: moire 30s linear infinite;
      }
      &:nth-child(2) {
        --moire-color: hsl(21, 88%, 49%);
        animation-duration: 10s;
        rotate: 3deg;
      }
      &:nth-child(3) {
        --moire-color: hsl(201, 88%, 49%);
        animation-duration: 15s;
        animation-direction: reverse;
        rotate: 6deg;
      }
    }
  }
</style>
