<div class="container">
  <span class="container__alt"
    >A rectangle with hard black edges and a colourful gradient inner (pinks and greens and yellows) that
    looks almost like a computer monitor with glowing edges. It roatates from side to side in an empty dark
    space. We see it from a perspective angle of 45 degrees from the left and right, before it slowly rotates
    back to the centre.</span
  >
  <div class="perspective"></div>
</div>

<style lang="scss">
  @use '../../styles/mixins' as *;

  @keyframes rotate {
    0% {
      transform: rotateY(45deg);
    }
    50% {
      transform: rotateY(-45deg);
    }
    100% {
      transform: rotateY(45deg);
    }
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    perspective: 25rem;
    &__alt {
      @include visually-hidden;
    }
  }

  .perspective {
    aspect-ratio: 16 / 9;
    inline-size: clamp(0%, 100%, 25rem);
    border: 10px solid var(--dark);
    border-radius: var(--radius);
    box-shadow: 0 0 4em -1em var(--light);
    overflow: hidden;
    animation: rotate 15s infinite ease;
    background-color: hsla(350, 39%, 32%, 1);
    background-image:
      radial-gradient(at 94% 1%, hsla(167, 87%, 65%, 1) 0px, transparent 50%),
      radial-gradient(at 44% 60%, hsla(167, 65%, 67%, 1) 0px, transparent 50%),
      radial-gradient(at 49% 98%, hsla(53, 64%, 73%, 1) 0px, transparent 50%),
      radial-gradient(at 62% 94%, hsla(52, 81%, 79%, 1) 0px, transparent 50%);
  }
</style>
