<figure class="sketch">
  <div class="shaft" aria-hidden="true"></div>
  <figcaption class="vh">
    A small abstract illustration made in code. Sort of resembling a strip of light in darkness, a very bright
    strip with a gradually facing shaft of light extends below
  </figcaption>
</figure>

<style lang="scss">
  @use '../../styles/mixins' as *;

  .sketch {
    color-scheme: dark;
    background-color: var(--background);
    @include sketch-container();
  }

  .shaft {
    position: relative;
    background-image: linear-gradient(0deg, transparent, var(--divider));
    width: 10rem;
    height: 75vh;
    transform: skew(22.5deg) rotate(22.5deg);
    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 0.25rem;
      background-color: white;
      box-shadow: 0 0 4rem 0.25rem var(--light);
      border-radius: 0.25rem;
    }
  }
</style>
