.orb {
  flex-shrink: 0;
  background-image: linear-gradient(315deg, transparent 18%, var(--orb));
  border-radius: 50%;
  box-shadow: inset 0 0 5em 0 var(--background);
  height: 15rem;
  margin-left: auto;
  width: 15rem;
  &--small {
    height: 5rem;
    margin: 0;
    width: 5rem;
  }
}
