@use '~/src/styles/mixins' as *;

.old {
  background-color: var(--foreground);
  border-radius: var(--radius);
  color: var(--background);
  margin-bottom: var(--step-5);
  padding: var(--step--2);
  position: relative;
  text-wrap: balance;
  @include label;
  @include hatching(var(--foreground));
}
